<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1ae7f59a-018f-4486-aa38-154d7746840b" Alias="portfolioCategories" Level="2">
  <Info>
    <Name>Portfolio categories</Name>
    <Icon>icon-directions-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Portfolio</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e626b086-7846-43ef-b56e-48b78be12d52" SortOrder="0">portfolioDetails</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>