<?xml version="1.0" encoding="utf-8"?>
<Media Key="0000f704-d2b3-4602-ba61-7e767a927577" Alias="author-box-bg.png" Level="3">
  <Info>
    <Parent Key="c1e1a95a-957d-48fb-a8bc-28725eaf5b9b">bg</Parent>
    <Path>/images/bg/authorBoxBgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:50</CreateDate>
    <NodeName Default="author-box-bg.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rm4fnnw0/author-box-bg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>