<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4d1b123-a33b-4c0f-b8ff-d57bb7a9edef" Alias="blog-img-03.jpg" Level="4">
  <Info>
    <Parent Key="2c48a05b-b0d7-4734-b7c4-6ad6ef868989">blog</Parent>
    <Path>/images/homepage2/blog/blogImg03jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:07</CreateDate>
    <NodeName Default="blog-img-03.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vr3joess/blog-img-03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>