<?xml version="1.0" encoding="utf-8"?>
<Media Key="09213484-b537-4375-b59c-67411ccdaf7d" Alias="blog-img-01.webp" Level="3">
  <Info>
    <Parent Key="6003bf25-a20d-4550-bac1-5937f876b944">recent-post</Parent>
    <Path>/images/recentPost/blogImg01webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:50</CreateDate>
    <NodeName Default="blog-img-01.webp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bp5gpp04/blog-img-01.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>