<?xml version="1.0" encoding="utf-8"?>
<Media Key="23a170ad-a30e-48f5-941c-2a639733576c" Alias="client-02.png" Level="3">
  <Info>
    <Parent Key="3fee3f8a-ecd6-43c6-9444-32e59e0f990b">client</Parent>
    <Path>/images/client/client02png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:51:34</CreateDate>
    <NodeName Default="client-02.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ek3opflh/client-02.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>