<?xml version="1.0" encoding="utf-8"?>
<Media Key="22ca9d2d-0a2a-464a-b392-0ce5314345ca" Alias="homepage-2" Level="2">
  <Info>
    <Parent Key="e7f873be-90f2-4958-992c-592bb9d61923">images</Parent>
    <Path>/images/homepage2</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:55:06</CreateDate>
    <NodeName Default="homepage-2" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties />
</Media>