<?xml version="1.0" encoding="utf-8"?>
<Media Key="aff67cbd-d87e-4a60-89b2-7c9abfb9be3e" Alias="portfolio-04.jpg" Level="3">
  <Info>
    <Parent Key="e7875104-53af-4bd4-81b7-e9d5cab75427">portfolio</Parent>
    <Path>/images/portfolio/portfolio04jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:33</CreateDate>
    <NodeName Default="portfolio-04.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gk1lagix/portfolio-04.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>