<?xml version="1.0" encoding="utf-8"?>
<Media Key="7be400d5-4515-46b9-9450-f953963f8caa" Alias="service-single-02.jpg" Level="3">
  <Info>
    <Parent Key="2ac1f8eb-4ff4-4e17-a0a5-7ba686553653">service</Parent>
    <Path>/images/service/serviceSingle02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:54:00</CreateDate>
    <NodeName Default="service-single-02.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/llfkftl2/service-single-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>