<?xml version="1.0" encoding="utf-8"?>
<Media Key="34bc4e8a-070f-401d-b29c-077a8ac72daa" Alias="team-img-02.jpg" Level="4">
  <Info>
    <Parent Key="b6924d40-746a-411b-be7b-36e5f1ba753b">team</Parent>
    <Path>/images/homepage2/team/teamImg02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:09</CreateDate>
    <NodeName Default="team-img-02.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/awcpvatg/team-img-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>