<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d315ba2-e869-4599-aae3-2f48c9c8e3bf" Alias="Careers" Level="2">
  <Info>
    <Parent Key="b0911fda-a843-4ea0-9151-7c9b12ef7863">Home</Parent>
    <Path>/Home/Careers</Path>
    <Trashed>false</Trashed>
    <ContentType>careers</ContentType>
    <CreateDate>2025-08-31T03:22:56</CreateDate>
    <NodeName Default="Careers" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="8d221ee7-6a42-453c-9d10-f83c22a8a24c">careers</Template>
  </Info>
  <Properties />
</Content>