<?xml version="1.0" encoding="utf-8"?>
<Content Key="456cf9a9-1fe2-42fd-9498-c48ad2ad4215" Alias="Contacts" Level="2">
  <Info>
    <Parent Key="b0911fda-a843-4ea0-9151-7c9b12ef7863">Home</Parent>
    <Path>/Home/Contacts</Path>
    <Trashed>false</Trashed>
    <ContentType>contacts</ContentType>
    <CreateDate>2025-08-31T03:22:56</CreateDate>
    <NodeName Default="Contacts" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e6201725-54a3-4f99-a831-93f497b29826">contacts</Template>
  </Info>
  <Properties>
    <addressTitle>
      <Value><![CDATA[Our Location]]></Value>
    </addressTitle>
    <Canonical>
      <Value><![CDATA[]]></Value>
    </Canonical>
    <contactAddress>
      <Value><![CDATA[3 Abou Dawoud, El-Zahery]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[test@gmail.com
test2@gmail.com
test3@gmail.com]]></Value>
    </contactEmail>
    <contactFormSubTitle>
      <Value><![CDATA[Have a project in mind? Get in touch!!]]></Value>
    </contactFormSubTitle>
    <contactFormTitle>
      <Value><![CDATA[Contact us]]></Value>
    </contactFormTitle>
    <contactHours>
      <Value><![CDATA[Sat to The - 09am to 06pm
Fri to Sat - Closed]]></Value>
    </contactHours>
    <contactPhone>
      <Value><![CDATA[01114428882
01020725722]]></Value>
    </contactPhone>
    <contactsHeaderImage>
      <Value><![CDATA[[
  {
    "key": "c77a8e81-387d-4a1a-93c8-1ddcd57bc629",
    "mediaKey": "f57b71d4-37fd-40bd-99aa-be60e5ba5526",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactsHeaderImage>
    <contactsHeaderTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </contactsHeaderTitle>
    <emailTitle>
      <Value><![CDATA[Mail us 24/7]]></Value>
    </emailTitle>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <fbLink>
      <Value><![CDATA[https://www.facebook.com/]]></Value>
    </fbLink>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <hoursTitle>
      <Value><![CDATA[Working Days]]></Value>
    </hoursTitle>
    <InstaLink>
      <Value><![CDATA[https://www.instagram.com/]]></Value>
    </InstaLink>
    <lnLink>
      <Value><![CDATA[https://www.linkedin.com/]]></Value>
    </lnLink>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <phoneTitle>
      <Value><![CDATA[Call US 24/7]]></Value>
    </phoneTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
    <xLink>
      <Value><![CDATA[https://x.com/]]></Value>
    </xLink>
  </Properties>
</Content>