<?xml version="1.0" encoding="utf-8"?>
<Content Key="b38e0662-907c-4e02-992b-8ca2fd75907f" Alias="test 1" Level="3">
  <Info>
    <Parent Key="621b6fb9-2db6-49eb-aa67-c7211009e43e">ContactForm</Parent>
    <Path>/Forms/ContactForm/test1</Path>
    <Trashed>false</Trashed>
    <ContentType>contactItem</ContentType>
    <CreateDate>2025-09-04T17:48:10</CreateDate>
    <NodeName Default="test 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[gomaa38@gmail.com]]></Value>
    </contactEmail>
    <contactMessage>
      <Value><![CDATA[test 1]]></Value>
    </contactMessage>
    <contactName>
      <Value><![CDATA[test 1]]></Value>
    </contactName>
    <contactPhoneNumber>
      <Value><![CDATA[test 1]]></Value>
    </contactPhoneNumber>
    <contactSubject>
      <Value><![CDATA[About]]></Value>
    </contactSubject>
  </Properties>
</Content>