<?xml version="1.0" encoding="utf-8"?>
<Content Key="6225fd59-0f21-401f-9f0a-a2a6901bee8e" Alias="Articals" Level="3">
  <Info>
    <Parent Key="414faeef-4edb-41bf-be84-c2faca80a2ad">Blog</Parent>
    <Path>/Home/Blog/Articals</Path>
    <Trashed>false</Trashed>
    <ContentType>articles</ContentType>
    <CreateDate>2025-08-31T03:22:56</CreateDate>
    <NodeName Default="Articals">
      <Name Culture="ar">Articles</Name>
      <Name Culture="en">Articles</Name>
      <Name Culture="en-US">Articals</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blogBouton>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </blogBouton>
    <Canonical>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </caption>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <text>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </text>
    <title>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </title>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>