<?xml version="1.0" encoding="utf-8"?>
<Content Key="70633a55-6850-4898-a2f3-2b18d7a903c6" Alias="asoha7915@gmail.com" Level="3">
  <Info>
    <Parent Key="621b6fb9-2db6-49eb-aa67-c7211009e43e">ContactForm</Parent>
    <Path>/Forms/ContactForm/asoha7915Gmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>contactItem</ContentType>
    <CreateDate>2025-09-20T01:52:52</CreateDate>
    <NodeName Default="asoha7915@gmail.com" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[asoha7915@gmail.com]]></Value>
    </contactEmail>
    <contactMessage>
      <Value><![CDATA[fsd]]></Value>
    </contactMessage>
    <contactName>
      <Value><![CDATA[soha adel]]></Value>
    </contactName>
    <contactPhoneNumber>
      <Value><![CDATA[01025892094]]></Value>
    </contactPhoneNumber>
    <contactSubject>
      <Value><![CDATA[dsf]]></Value>
    </contactSubject>
  </Properties>
</Content>