<?xml version="1.0" encoding="utf-8"?>
<Content Key="a397b690-12f3-497d-8ec4-c4d64f6101ba" Alias="Oil" Level="3">
  <Info>
    <Parent Key="a7b61300-3281-4b05-80d0-6e171ab60165">Portfolio</Parent>
    <Path>/Home/Portfolio/Oil</Path>
    <Trashed>false</Trashed>
    <ContentType>portfolioCategories</ContentType>
    <CreateDate>2025-08-31T21:19:24</CreateDate>
    <NodeName Default="Oil" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>