<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a95b0161-92ab-49fb-afc7-7b66af086601" Alias="blog" Level="2">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-categories color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blog</Folder>
    <Compositions>
      <Composition Key="5d67e395-cc51-4b26-8c5c-4adc74e51f42">sEO</Composition>
    </Compositions>
    <DefaultTemplate>blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c8cb7ac2-35f3-41ff-b880-1085e8114c5c">blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="79bf36f9-9371-4bb5-8511-86ab38a1d666" SortOrder="0">category</ContentType>
    <ContentType Key="dfe655a0-f31a-4160-a755-09d62bf98586" SortOrder="1">tag</ContentType>
    <ContentType Key="d3c92ca4-e78c-47d2-aa58-368c925d8599" SortOrder="2">articles</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6b3f60b7-f1f1-4a59-9508-5892b18ae80e</Key>
      <Name>BlogHeaderImage</Name>
      <Alias>blogHeaderImage</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>61b10007-f7d5-4c5b-ad82-f419db710fcc</Key>
      <Name>BlogHeaderTitle</Name>
      <Alias>blogHeaderTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bf3d9d36-04c2-48d2-b0a5-a50d7118ff3e</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Tab</Type>
      <SortOrder>31</SortOrder>
    </Tab>
  </Tabs>
</ContentType>