<?xml version="1.0" encoding="utf-8"?>
<Media Key="00138a3c-3476-4ca4-80ad-848b7dcb3b39" Alias="blog-02.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/blog02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T20:56:31</CreateDate>
    <NodeName Default="blog-02.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wnaflnq5/blog-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>