<?xml version="1.0" encoding="utf-8"?>
<Media Key="91c953b4-7819-4b7c-87c8-83c547ebbd69" Alias="factory-worker-img.jpg" Level="3">
  <Info>
    <Parent Key="22ca9d2d-0a2a-464a-b392-0ce5314345ca">homepage-2</Parent>
    <Path>/images/homepage2/factoryWorkerImgjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:06</CreateDate>
    <NodeName Default="factory-worker-img.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/homj4j1q/factory-worker-img.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>