<?xml version="1.0" encoding="utf-8"?>
<Media Key="c34e7efc-4a1a-4ef0-a90a-57c4e1943a42" Alias="pattern-img.png" Level="4">
  <Info>
    <Parent Key="76d61182-a07f-40f3-b48d-f35ffec58355">bg</Parent>
    <Path>/images/homepage1/bg/patternImgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:13</CreateDate>
    <NodeName Default="pattern-img.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oo0aq3lt/pattern-img.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>