<?xml version="1.0" encoding="utf-8"?>
<Media Key="72d6db4a-3dd5-4c94-8b13-114c4576a64a" Alias="service-img-01.jpg" Level="4">
  <Info>
    <Parent Key="fa24a775-4099-4878-b7a3-c47c2e878b5c">service</Parent>
    <Path>/images/homepage2/service/serviceImg01jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:08</CreateDate>
    <NodeName Default="service-img-01.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yuijbrf2/service-img-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>