<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6c74122-5920-430f-b90d-51761d2d4eec" Alias="service-02.jpg" Level="3">
  <Info>
    <Parent Key="2ac1f8eb-4ff4-4e17-a0a5-7ba686553653">service</Parent>
    <Path>/images/service/service02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:54:44</CreateDate>
    <NodeName Default="service-02.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vwfjcacj/service-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>