<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a80d1e9-2d31-4fe2-9cb6-b0ae34730275" Alias="service-08.jpg" Level="3">
  <Info>
    <Parent Key="2ac1f8eb-4ff4-4e17-a0a5-7ba686553653">service</Parent>
    <Path>/images/service/service08jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:54:00</CreateDate>
    <NodeName Default="service-08.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mynnnxcy/service-08.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>