<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="46eca793-90c0-4e1d-9a45-4913afb80fff" Alias="privacyPolicy" Level="2">
  <Info>
    <Name>Privacy Policy</Name>
    <Icon>icon-diploma color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="5d67e395-cc51-4b26-8c5c-4adc74e51f42">sEO</Composition>
    </Compositions>
    <DefaultTemplate>privacyPolicy</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="96c77237-899d-46db-bab5-b7560f3cd50e">privacyPolicy</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>