<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c7168f3-3655-4711-b1b1-9c3e3ef7a51e" Alias="gomaa38@gmail.com (1)" Level="3">
  <Info>
    <Parent Key="621b6fb9-2db6-49eb-aa67-c7211009e43e">ContactForm</Parent>
    <Path>/Forms/ContactForm/gomaa38Gmailcom1</Path>
    <Trashed>false</Trashed>
    <ContentType>contactItem</ContentType>
    <CreateDate>2025-09-04T18:13:19</CreateDate>
    <NodeName Default="gomaa38@gmail.com (1)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[gomaa38@gmail.com]]></Value>
    </contactEmail>
    <contactMessage>
      <Value><![CDATA[]]></Value>
    </contactMessage>
    <contactName>
      <Value><![CDATA[Abdelrahman Gomaa]]></Value>
    </contactName>
    <contactPhoneNumber>
      <Value><![CDATA[01114428882]]></Value>
    </contactPhoneNumber>
    <contactSubject>
      <Value><![CDATA[gfgf]]></Value>
    </contactSubject>
  </Properties>
</Content>