<?xml version="1.0" encoding="utf-8"?>
<Content Key="62554970-3c78-4e24-8be7-2a7c3046461f" Alias="Product8" Level="4">
  <Info>
    <Parent Key="ae2b1873-77e0-4fbc-93e6-77a1fc2cfd69">Transportation Industry</Parent>
    <Path>/Home/Products/TransportationIndustry/Product8</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-09-23T21:17:11</CreateDate>
    <NodeName Default="Product8">
      <Name Culture="ar">منتج 8</Name>
      <Name Culture="en-US">Product8</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="aa45047d-fe85-4f8a-841f-732186492504">Product</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </Canonical>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
    <productDesc>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "markup": "\u003Cp\u003EProduct8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8Product8\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </productDesc>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "bc75f61c-dda8-4a37-b488-37bab1b11fa2",
    "mediaKey": "dfc742e0-9720-42a4-a712-2166e5e82465",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </productImage>
    <productMedia>
      <Value><![CDATA[]]></Value>
    </productMedia>
    <productName>
      <Value Culture="ar"><![CDATA[منتج 8منتج 8]]></Value>
      <Value Culture="en-US"><![CDATA[Product8Product8]]></Value>
    </productName>
    <productSubTitle>
      <Value Culture="ar"><![CDATA[منتج 8منتج 8منتج 8]]></Value>
      <Value Culture="en-US"><![CDATA[Product8Product8Product8Product8Product8]]></Value>
    </productSubTitle>
    <productSummary>
      <Value Culture="ar"><![CDATA[منتج 8منتج 8منتج 8منتج 8منتج 8]]></Value>
      <Value Culture="en-US"><![CDATA[Product8Product8Product8Product8Product8Product8Product8]]></Value>
    </productSummary>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>