<?xml version="1.0" encoding="utf-8"?>
<Media Key="5907fb22-5b88-4dc5-b3ad-7ee4ed5cef62" Alias="img-01.jpg" Level="3">
  <Info>
    <Parent Key="f6af262f-21f9-4655-acf5-97cbf728fe29">avtar</Parent>
    <Path>/images/avtar/img01jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:50</CreateDate>
    <NodeName Default="img-01.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vuyfd15b/img-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>