<?xml version="1.0" encoding="utf-8"?>
<Media Key="8346992b-827a-4cbb-b7ac-b71e14c0367e" Alias="New" Level="3">
  <Info>
    <Parent Key="2ac1f8eb-4ff4-4e17-a0a5-7ba686553653">service</Parent>
    <Path>/images/service/New</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-19T17:23:00</CreateDate>
    <NodeName Default="New" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>