<?xml version="1.0" encoding="utf-8"?>
<Media Key="7fdbc058-410a-400c-b58c-04144a08b0ca" Alias="ratting.png" Level="2">
  <Info>
    <Parent Key="e7f873be-90f2-4958-992c-592bb9d61923">images</Parent>
    <Path>/images/rattingpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:49</CreateDate>
    <NodeName Default="ratting.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/02fj1sld/ratting.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>