<?xml version="1.0" encoding="utf-8"?>
<Media Key="f57b71d4-37fd-40bd-99aa-be60e5ba5526" Alias="slider1-03.jpg" Level="3">
  <Info>
    <Parent Key="ed56f98a-4943-48f5-8e82-be4837892ff2">banner-slider-img</Parent>
    <Path>/images/bannerSliderImg/slider103jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:50</CreateDate>
    <NodeName Default="slider1-03.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lo3d0q2u/slider1-03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>