<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd85e58b-5993-44a4-ae4b-c8d23b04d72a" Alias="slider2-02.jpg" Level="3">
  <Info>
    <Parent Key="ed56f98a-4943-48f5-8e82-be4837892ff2">banner-slider-img</Parent>
    <Path>/images/bannerSliderImg/slider202jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:50</CreateDate>
    <NodeName Default="slider2-02.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/aqxngc50/slider2-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>