<?xml version="1.0" encoding="utf-8"?>
<Media Key="af5ff763-50a2-4fa5-bf5f-e32274c1293e" Alias="blog-04b.jpg" Level="3">
  <Info>
    <Parent Key="f2a2043d-c42b-4e38-957f-383a61e920cf">blog</Parent>
    <Path>/images/blog/blog04bjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:51</CreateDate>
    <NodeName Default="blog-04b.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3q4bsgol/blog-04b.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>