<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2865e41-5c86-454f-8540-fdcc20986f78" Alias="blog-04.jpg" Level="3">
  <Info>
    <Parent Key="f2a2043d-c42b-4e38-957f-383a61e920cf">blog</Parent>
    <Path>/images/blog/blog04jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:51</CreateDate>
    <NodeName Default="blog-04.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/z0kmarhp/blog-04.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>