<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ccf5d55-5bc6-41c6-b490-92d2cf35adf1" Alias="dot-map.png" Level="4">
  <Info>
    <Parent Key="76d61182-a07f-40f3-b48d-f35ffec58355">bg</Parent>
    <Path>/images/homepage1/bg/dotMappng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:13</CreateDate>
    <NodeName Default="dot-map.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1kljtwvp/dot-map.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>