<?xml version="1.0" encoding="utf-8"?>
<Media Key="357fbe8d-4702-464a-8bc7-8f0b39d927a8" Alias="history-01.jpg" Level="3">
  <Info>
    <Parent Key="1b787fd5-d5c7-4eab-9d1c-404531f0a0d1">history</Parent>
    <Path>/images/history/history01jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:52:06</CreateDate>
    <NodeName Default="history-01.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/aj0dta1l/history-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>