<?xml version="1.0" encoding="utf-8"?>
<Media Key="b871682f-cdd4-4ac7-b458-dd6c7e4a0b16" Alias="team-img-03.jpg" Level="4">
  <Info>
    <Parent Key="b6924d40-746a-411b-be7b-36e5f1ba753b">team</Parent>
    <Path>/images/homepage2/team/teamImg03jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:09</CreateDate>
    <NodeName Default="team-img-03.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ucrdodv3/team-img-03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>