<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4918412-a9de-478c-a940-b51471b82d76" Alias="13391.jpg" Level="4">
  <Info>
    <Parent Key="8346992b-827a-4cbb-b7ac-b71e14c0367e">New</Parent>
    <Path>/images/service/New/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-19T17:23:09</CreateDate>
    <NodeName Default="13391.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tvhnoevx/13391.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>