<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9968a51-ee38-4387-9ff8-8fedd7f40fc1" Alias="4466.jpg" Level="4">
  <Info>
    <Parent Key="8346992b-827a-4cbb-b7ac-b71e14c0367e">New</Parent>
    <Path>/images/service/New/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-19T17:23:09</CreateDate>
    <NodeName Default="4466.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1zanax0r/4466.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>