<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c751d5d-e508-4a0e-aceb-e461a29ce032" Alias="accordion-img.jpg" Level="4">
  <Info>
    <Parent Key="76d61182-a07f-40f3-b48d-f35ffec58355">bg</Parent>
    <Path>/images/homepage1/bg/accordionImgjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:13</CreateDate>
    <NodeName Default="accordion-img.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0lldgktb/accordion-img.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>