<?xml version="1.0" encoding="utf-8"?>
<Media Key="76d61182-a07f-40f3-b48d-f35ffec58355" Alias="bg" Level="3">
  <Info>
    <Parent Key="e10ece3a-852b-4a85-a93a-5a5647f70f7d">homepage-1</Parent>
    <Path>/images/homepage1/bg</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:52:22</CreateDate>
    <NodeName Default="bg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>