<?xml version="1.0" encoding="utf-8"?>
<Media Key="28cbd729-fbde-4639-91b1-9a32910971cd" Alias="history-04.jpg" Level="3">
  <Info>
    <Parent Key="1b787fd5-d5c7-4eab-9d1c-404531f0a0d1">history</Parent>
    <Path>/images/history/history04jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:52:06</CreateDate>
    <NodeName Default="history-04.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uyoj1hvx/history-04.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>