<?xml version="1.0" encoding="utf-8"?>
<Media Key="2132c077-73de-4084-b96a-fdb4f71a979b" Alias="logo-white.svg" Level="2">
  <Info>
    <Parent Key="e7f873be-90f2-4958-992c-592bb9d61923">images</Parent>
    <Path>/images/logoWhitesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-08-31T21:50:49</CreateDate>
    <NodeName Default="logo-white.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qv4jbq4f/logo-white.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>