<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec788746-95cf-4386-a3d3-aeadfd1c8c63" Alias="play-bg.jpg" Level="4">
  <Info>
    <Parent Key="fa29a6d7-0d57-4708-b4f5-cfd728c4dba9">bg</Parent>
    <Path>/images/homepage2/bg/playBgjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:07</CreateDate>
    <NodeName Default="play-bg.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zfgd2wvg/play-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>