<?xml version="1.0" encoding="utf-8"?>
<Media Key="057d26bf-4ff8-4212-a433-c3d5874377c8" Alias="portfolio-01.jpg" Level="3">
  <Info>
    <Parent Key="e7875104-53af-4bd4-81b7-e9d5cab75427">portfolio</Parent>
    <Path>/images/portfolio/portfolio01jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:33</CreateDate>
    <NodeName Default="portfolio-01.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gdwdxm2r/portfolio-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>