<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b7fa5ad-ee27-40f2-b010-50befc278618" Alias="service-single-01.jpg" Level="3">
  <Info>
    <Parent Key="2ac1f8eb-4ff4-4e17-a0a5-7ba686553653">service</Parent>
    <Path>/images/service/serviceSingle01jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:54:00</CreateDate>
    <NodeName Default="service-single-01.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ejxdttko/service-single-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>