<?xml version="1.0" encoding="utf-8"?>
<Media Key="697ba9e6-79e6-443a-b3df-2621df9ff37d" Alias="service-09.jpg" Level="3">
  <Info>
    <Parent Key="2ac1f8eb-4ff4-4e17-a0a5-7ba686553653">service</Parent>
    <Path>/images/service/service09jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:54:00</CreateDate>
    <NodeName Default="service-09.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nfrd1x2p/service-09.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>