<?xml version="1.0" encoding="utf-8"?>
<Media Key="46731673-27bb-476b-b9fb-1f0fc97ca501" Alias="team-img-06.jpg" Level="3">
  <Info>
    <Parent Key="e940f6a4-975c-4bda-ac39-00fc4da07815">team</Parent>
    <Path>/images/team/teamImg06jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:54:54</CreateDate>
    <NodeName Default="team-img-06.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5todl2gs/team-img-06.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>