<?xml version="1.0" encoding="utf-8"?>
<Media Key="cba695d9-e0d5-4452-b93b-97d5f2e59be4" Alias="team-button-bg.jpg" Level="4">
  <Info>
    <Parent Key="fa29a6d7-0d57-4708-b4f5-cfd728c4dba9">bg</Parent>
    <Path>/images/homepage2/bg/teamButtonBgjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:07</CreateDate>
    <NodeName Default="team-button-bg.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kzppa5n2/team-button-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>