<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7603537-4a86-4a09-a68c-76af9b61ee1e" Alias="testimonial-img-02.jpg" Level="4">
  <Info>
    <Parent Key="5acfd884-9831-4bd0-b2aa-e3474582cb6e">testimonial</Parent>
    <Path>/images/homepage1/testimonial/testimonialImg02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:52:23</CreateDate>
    <NodeName Default="testimonial-img-02.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xd5dmepp/testimonial-img-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>