<?xml version="1.0" encoding="utf-8"?>
<Media Key="5acfd884-9831-4bd0-b2aa-e3474582cb6e" Alias="testimonial" Level="3">
  <Info>
    <Parent Key="e10ece3a-852b-4a85-a93a-5a5647f70f7d">homepage-1</Parent>
    <Path>/images/homepage1/testimonial</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:52:23</CreateDate>
    <NodeName Default="testimonial" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>