<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8d296a4-7802-450a-aa4d-d373befc163a" Alias="Forms" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Forms</Path>
    <Trashed>false</Trashed>
    <ContentType>formsData</ContentType>
    <CreateDate>2025-09-04T17:47:36</CreateDate>
    <NodeName Default="Forms" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>