<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e0b4b9b2-9049-409f-bd0c-47c5362b6dd3" Alias="formsData" Level="2">
  <Info>
    <Name>FormsData</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="cfe45f9e-f985-4ecd-8ffe-adb5f6aad2d2" SortOrder="0">contact</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>