<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2f99558f-ca8d-4662-8de6-0ab8b96f3929" Alias="product" Level="2">
  <Info>
    <Name>Product</Name>
    <Icon>icon-box-open color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Portfolio</Folder>
    <Compositions>
      <Composition Key="5d67e395-cc51-4b26-8c5c-4adc74e51f42">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Product</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aa45047d-fe85-4f8a-841f-732186492504">Product</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>