<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7d5f6bf-999f-452d-9188-a33094e2b8b8" Alias="pricing-img.png" Level="4">
  <Info>
    <Parent Key="76d61182-a07f-40f3-b48d-f35ffec58355">bg</Parent>
    <Path>/images/homepage1/bg/pricingImgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:52:23</CreateDate>
    <NodeName Default="pricing-img.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ga4jgupw/pricing-img.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>