<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5482b70-fcec-42eb-9f0c-de4bba0ec14c" Alias="service-img-05.jpg" Level="4">
  <Info>
    <Parent Key="fa24a775-4099-4878-b7a3-c47c2e878b5c">service</Parent>
    <Path>/images/homepage2/service/serviceImg05jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:09</CreateDate>
    <NodeName Default="service-img-05.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/55qb222f/service-img-05.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>