<?xml version="1.0" encoding="utf-8"?>
<Media Key="5445abcc-444b-4dec-839d-6b5d7b2eda35" Alias="service-05.jpg" Level="3">
  <Info>
    <Parent Key="2ac1f8eb-4ff4-4e17-a0a5-7ba686553653">service</Parent>
    <Path>/images/service/service05jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:54:00</CreateDate>
    <NodeName Default="service-05.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/inqbhyrc/service-05.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>