<?xml version="1.0" encoding="utf-8"?>
<Media Key="21906d6f-9ab5-42dc-8cc5-a1cb1b452089" Alias="team-img-03.jpg" Level="4">
  <Info>
    <Parent Key="0c3cee16-ebe3-43dc-bb34-a2c790f209a4">team</Parent>
    <Path>/images/homepage1/team/teamImg03jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:52:23</CreateDate>
    <NodeName Default="team-img-03.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2ctnnf42/team-img-03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>