<?xml version="1.0" encoding="utf-8"?>
<Media Key="73ecceb0-7b87-4596-be8c-6a2b563dc204" Alias="testimonial-img-04.jpg" Level="4">
  <Info>
    <Parent Key="084f7f94-a90d-4f99-8901-ff420e40d8eb">testimonial</Parent>
    <Path>/images/homepage2/testimonial/testimonialImg04jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:10</CreateDate>
    <NodeName Default="testimonial-img-04.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/h2ckvrpo/testimonial-img-04.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>