<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3654b13d-db1e-495e-bd6c-028b678eebfd" Alias="About - AboutOurClients - Block List Property Editor UI" Level="1">
  <Info>
    <Name>About - AboutOurClients - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a4ad666e-e127-43e2-951c-b6a6540dd908",
      "label": "{=aboutOurClientName}"
    }
  ]
}]]></Config>
</DataType>