<?xml version="1.0" encoding="utf-8"?>
<Content Key="47a16116-17d0-42ec-b3ec-d88b086c9e15" Alias="Electrical" Level="3">
  <Info>
    <Parent Key="7e538a0b-b7a5-4b56-b4b8-fccddc6439a3">Products</Parent>
    <Path>/Home/Products/Electrical</Path>
    <Trashed>false</Trashed>
    <ContentType>productCategory</ContentType>
    <CreateDate>2025-09-23T21:13:38</CreateDate>
    <NodeName Default="Electrical">
      <Name Culture="ar">الكهرباء وعوازل الكهرباء</Name>
      <Name Culture="en-US">Electrical</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="ce06cce6-d326-45fe-a9a1-3df98097a77d">ProductCategory</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </Canonical>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
    <portfolioCategoryName>
      <Value Culture="ar"><![CDATA[الكهرباء وعوازل الكهرباء]]></Value>
      <Value Culture="en-US"><![CDATA[Electrical & Electrical ]]></Value>
    </portfolioCategoryName>
    <productCategoryImage>
      <Value><![CDATA[[
  {
    "key": "33c60a2b-d75c-45c4-a0d5-e07e376763e7",
    "mediaKey": "7b7fa5ad-ee27-40f2-b010-50befc278618",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </productCategoryImage>
    <productCategoryTitle>
      <Value Culture="ar"><![CDATA[الكهرباء وعوازل الكهرباءالكهرباء وعوازل الكهرباء]]></Value>
      <Value Culture="en-US"><![CDATA[Electrical & Electrical Insulators]]></Value>
    </productCategoryTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>