<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0911fda-a843-4ea0-9151-7c9b12ef7863" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-08-31T03:22:55</CreateDate>
    <NodeName Default="Home">
      <Name Culture="ar">الصفحة الرئيسية</Name>
      <Name Culture="en">Home Page</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="fd7ee32d-4e41-4f1c-baf9-7a6fe7bda5d6">homePage</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </Canonical>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <footerAddress>
      <Value Culture="ar"><![CDATA[القاهرة - مصر]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[3 Abou Dawoud, El-Zahery, Nasr City, Cairo Governorate]]></Value>
    </footerAddress>
    <footerEmail>
      <Value><![CDATA[gomaa38@gmail.com]]></Value>
    </footerEmail>
    <footerNumber>
      <Value><![CDATA[01114428882]]></Value>
    </footerNumber>
    <footerTitle>
      <Value Culture="ar"><![CDATA[ريادة عصر جديد من التميز في صناعة الصلب]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Pioneering a New Era of Steel working Excellence]]></Value>
    </footerTitle>
    <footerTitle1>
      <Value Culture="ar"><![CDATA[المعلومات]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Information]]></Value>
    </footerTitle1>
    <footerTitle2>
      <Value Culture="ar"><![CDATA[خدماتنا]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Our Servcices]]></Value>
    </footerTitle2>
    <footerTitle3>
      <Value Culture="ar"><![CDATA[المنتجات]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Our Products]]></Value>
    </footerTitle3>
    <footerTitle4>
      <Value Culture="ar"><![CDATA[المقالات]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Blogs]]></Value>
    </footerTitle4>
    <headerInfoText1>
      <Value Culture="ar"><![CDATA[هل تحتاج للتحدث؟]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Need to talk]]></Value>
    </headerInfoText1>
    <headerInfoText2>
      <Value Culture="ar"><![CDATA[الموقع]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Location]]></Value>
    </headerInfoText2>
    <headerInfoText3>
      <Value Culture="ar"><![CDATA[البريد الإلكتروني]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Email Address]]></Value>
    </headerInfoText3>
    <headerLogoM>
      <Value><![CDATA[[
  {
    "key": "3f51fb09-3aa6-40d6-9a56-eb6d595bf85e",
    "mediaKey": "6d90ef64-6f4b-475b-a90a-0e7895eaad15",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogoM>
    <headerLogoS>
      <Value><![CDATA[[
  {
    "key": "1964c119-7fe8-476f-a27b-592a448c2798",
    "mediaKey": "19687138-638d-41f0-8635-6a655616c3d7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogoS>
    <headerText>
      <Value Culture="ar"><![CDATA[نحن مبدعون وجاهزون للتحديات!]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[ We are creative and ready for challenges!]]></Value>
    </headerText>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <homeBlogSubTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Articles & blog posts with
useful information]]></Value>
    </homeBlogSubTitle>
    <homeBlogTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Fresh News]]></Value>
    </homeBlogTitle>
    <homeClintText1>
      <Value Culture="ar"><![CDATA[230]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[230]]></Value>
    </homeClintText1>
    <homeClintText2>
      <Value Culture="ar"><![CDATA[عملاء موثوقون حول العالم]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Trusted customers around the world]]></Value>
    </homeClintText2>
    <homeClintTitle>
      <Value Culture="ar"><![CDATA[مرحبًا بكم في موقعنا]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Welcome to our site]]></Value>
    </homeClintTitle>
    <homeFaqDesc>
      <Value Culture="ar"><![CDATA[فريق خدمة العملاء لدينا سيكون سعيدًا بمساعدتك — لا تتردد في التواصل معنا في أي وقت.]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Our customer service team will be happy to assist you — feel free to get in touch anytime.]]></Value>
    </homeFaqDesc>
    <homeFaqs>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d637e223-d280-4107-a7e5-ee157870884a",
      "key": "ae6cd69a-28b5-48fc-96f1-07dd8da3fd88",
      "udi": null,
      "values": [
        {
          "alias": "aboutFaqTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "01. How do you ensure product quality?"
        },
        {
          "alias": "aboutFaqAnswer",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "We maintain strict quality control at every stage of the process, carefully sourcing raw materials, components through to thorough final inspection.\n"
        },
        {
          "alias": "aboutFaqAnswer",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0646\u062D\u0646 \u0646\u062D\u0627\u0641\u0638 \u0639\u0644\u0649 \u0645\u0631\u0627\u0642\u0628\u0629 \u0627\u0644\u062C\u0648\u062F\u0629 \u0627\u0644\u0635\u0627\u0631\u0645\u0629 \u0641\u064A \u0643\u0644 \u0645\u0631\u062D\u0644\u0629 \u0645\u0646 \u0645\u0631\u0627\u062D\u0644 \u0627\u0644\u0639\u0645\u0644\u064A\u0629\u060C \u0648\u0646\u0642\u0648\u0645 \u0628\u062A\u0648\u0631\u064A\u062F \u0627\u0644\u0645\u0648\u0627\u062F \u0627\u0644\u062E\u0627\u0645 \u0648\u0627\u0644\u0645\u0643\u0648\u0646\u0627\u062A \u0628\u0639\u0646\u0627\u064A\u0629 \u062D\u062A\u0649 \u0627\u0644\u0641\u062D\u0635 \u0627\u0644\u0646\u0647\u0627\u0626\u064A \u0627\u0644\u0634\u0627\u0645\u0644."
        },
        {
          "alias": "aboutFaqTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "01. \u0643\u064A\u0641 \u062A\u0636\u0645\u0646 \u062C\u0648\u062F\u0629 \u0627\u0644\u0645\u0646\u062A\u062C\u061F"
        }
      ]
    },
    {
      "contentTypeKey": "d637e223-d280-4107-a7e5-ee157870884a",
      "key": "8eedd20a-f131-47b7-8414-fe1351ff3b49",
      "udi": null,
      "values": [
        {
          "alias": "aboutFaqTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "02. Do you offer customized solutions?"
        },
        {
          "alias": "aboutFaqAnswer",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "We maintain strict quality control at every stage of the process, carefully sourcing raw materials, components through to thorough final inspection.\n"
        },
        {
          "alias": "aboutFaqAnswer",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0646\u062D\u0646 \u0646\u062D\u0627\u0641\u0638 \u0639\u0644\u0649 \u0645\u0631\u0627\u0642\u0628\u0629 \u0627\u0644\u062C\u0648\u062F\u0629 \u0627\u0644\u0635\u0627\u0631\u0645\u0629 \u0641\u064A \u0643\u0644 \u0645\u0631\u062D\u0644\u0629 \u0645\u0646 \u0645\u0631\u0627\u062D\u0644 \u0627\u0644\u0639\u0645\u0644\u064A\u0629\u060C \u0648\u0646\u0642\u0648\u0645 \u0628\u062A\u0648\u0631\u064A\u062F \u0627\u0644\u0645\u0648\u0627\u062F \u0627\u0644\u062E\u0627\u0645 \u0648\u0627\u0644\u0645\u0643\u0648\u0646\u0627\u062A \u0628\u0639\u0646\u0627\u064A\u0629 \u062D\u062A\u0649 \u0627\u0644\u0641\u062D\u0635 \u0627\u0644\u0646\u0647\u0627\u0626\u064A \u0627\u0644\u0634\u0627\u0645\u0644."
        },
        {
          "alias": "aboutFaqTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "02. \u0647\u0644 \u062A\u0642\u062F\u0645\u0648\u0646 \u062D\u0644\u0648\u0644\u0627\u064B \u0645\u062E\u0635\u0635\u0629\u061F"
        }
      ]
    },
    {
      "contentTypeKey": "d637e223-d280-4107-a7e5-ee157870884a",
      "key": "77b22b3c-3749-4150-bd87-729afe90f281",
      "udi": null,
      "values": [
        {
          "alias": "aboutFaqTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "03. What sustainability practices do you follow?"
        },
        {
          "alias": "aboutFaqAnswer",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "We maintain strict quality control at every stage of the process, carefully sourcing raw materials, components through to thorough final inspection.\n"
        },
        {
          "alias": "aboutFaqTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "03. \u0645\u0627 \u0647\u064A \u0645\u0645\u0627\u0631\u0633\u0627\u062A \u0627\u0644\u0627\u0633\u062A\u062F\u0627\u0645\u0629 \u0627\u0644\u062A\u064A \u062A\u062A\u0628\u0639\u0648\u0646\u0647\u0627\u061F"
        },
        {
          "alias": "aboutFaqAnswer",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0646\u062D\u0646 \u0646\u062D\u0627\u0641\u0638 \u0639\u0644\u0649 \u0645\u0631\u0627\u0642\u0628\u0629 \u0627\u0644\u062C\u0648\u062F\u0629 \u0627\u0644\u0635\u0627\u0631\u0645\u0629 \u0641\u064A \u0643\u0644 \u0645\u0631\u062D\u0644\u0629 \u0645\u0646 \u0645\u0631\u0627\u062D\u0644 \u0627\u0644\u0639\u0645\u0644\u064A\u0629\u060C \u0648\u0646\u0642\u0648\u0645 \u0628\u062A\u0648\u0631\u064A\u062F \u0627\u0644\u0645\u0648\u0627\u062F \u0627\u0644\u062E\u0627\u0645 \u0648\u0627\u0644\u0645\u0643\u0648\u0646\u0627\u062A \u0628\u0639\u0646\u0627\u064A\u0629 \u062D\u062A\u0649 \u0627\u0644\u0641\u062D\u0635 \u0627\u0644\u0646\u0647\u0627\u0626\u064A \u0627\u0644\u0634\u0627\u0645\u0644."
        }
      ]
    },
    {
      "contentTypeKey": "d637e223-d280-4107-a7e5-ee157870884a",
      "key": "65d5a97d-8222-4705-9fcb-09dd66ae6d60",
      "udi": null,
      "values": [
        {
          "alias": "aboutFaqTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "04. How do you handle safety in the workplace?"
        },
        {
          "alias": "aboutFaqAnswer",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "We maintain strict quality control at every stage of the process, carefully sourcing raw materials, components through to thorough final inspection.\n"
        },
        {
          "alias": "aboutFaqTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "04. \u0643\u064A\u0641 \u062A\u062A\u0639\u0627\u0645\u0644 \u0645\u0639 \u0627\u0644\u0633\u0644\u0627\u0645\u0629 \u0641\u064A \u0645\u0643\u0627\u0646 \u0627\u0644\u0639\u0645\u0644\u061F"
        },
        {
          "alias": "aboutFaqAnswer",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0646\u062D\u0646 \u0646\u062D\u0627\u0641\u0638 \u0639\u0644\u0649 \u0645\u0631\u0627\u0642\u0628\u0629 \u0627\u0644\u062C\u0648\u062F\u0629 \u0627\u0644\u0635\u0627\u0631\u0645\u0629 \u0641\u064A \u0643\u0644 \u0645\u0631\u062D\u0644\u0629 \u0645\u0646 \u0645\u0631\u0627\u062D\u0644 \u0627\u0644\u0639\u0645\u0644\u064A\u0629\u060C \u0648\u0646\u0642\u0648\u0645 \u0628\u062A\u0648\u0631\u064A\u062F \u0627\u0644\u0645\u0648\u0627\u062F \u0627\u0644\u062E\u0627\u0645 \u0648\u0627\u0644\u0645\u0643\u0648\u0646\u0627\u062A \u0628\u0639\u0646\u0627\u064A\u0629 \u062D\u062A\u0649 \u0627\u0644\u0641\u062D\u0635 \u0627\u0644\u0646\u0647\u0627\u0626\u064A \u0627\u0644\u0634\u0627\u0645\u0644."
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ae6cd69a-28b5-48fc-96f1-07dd8da3fd88",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "8eedd20a-f131-47b7-8414-fe1351ff3b49",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "77b22b3c-3749-4150-bd87-729afe90f281",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "65d5a97d-8222-4705-9fcb-09dd66ae6d60",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "ae6cd69a-28b5-48fc-96f1-07dd8da3fd88",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "8eedd20a-f131-47b7-8414-fe1351ff3b49",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "77b22b3c-3749-4150-bd87-729afe90f281",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "65d5a97d-8222-4705-9fcb-09dd66ae6d60",
      "culture": "ar",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ae6cd69a-28b5-48fc-96f1-07dd8da3fd88",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8eedd20a-f131-47b7-8414-fe1351ff3b49",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "77b22b3c-3749-4150-bd87-729afe90f281",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "65d5a97d-8222-4705-9fcb-09dd66ae6d60",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </homeFaqs>
    <homeFaqSubTitle>
      <Value Culture="ar"><![CDATA[لم تجد الإجابة التي تبحث عنها؟]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Didn’t find the answer you’re looking for?]]></Value>
    </homeFaqSubTitle>
    <homeFaqTitle>
      <Value Culture="ar"><![CDATA[ماذا تود أن تعرف؟]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[What would you like to know?]]></Value>
    </homeFaqTitle>
    <homeProcessSubTitle>
      <Value Culture="ar"><![CDATA[نُنشئ حلول صناعية مخصصة]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[We create personalized
industry solutions
]]></Value>
    </homeProcessSubTitle>
    <homeProcessTitle>
      <Value Culture="ar"><![CDATA[عملية العمل]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Working Process]]></Value>
    </homeProcessTitle>
    <homeServicesSubTitle>
      <Value Culture="ar"><![CDATA[نُنشئ خطط تصنيع مخصصة تناسب احتياجاتك]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[We create personalized 
manufacturing plans]]></Value>
    </homeServicesSubTitle>
    <homeServicesTitle>
      <Value Culture="ar"><![CDATA[خدماتنا]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Our Services]]></Value>
    </homeServicesTitle>
    <homeSliders>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "01b6740b-8ff2-4684-85bf-ae436a591181",
      "key": "90b05f69-04f3-4612-ae1f-2f18ee1d8967",
      "udi": null,
      "values": [
        {
          "alias": "homeSliderImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2f8b72f5-da84-4156-afd4-e8b9d016801d",
              "mediaKey": "f57b71d4-37fd-40bd-99aa-be60e5ba5526",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "homeSliderTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Manufacturing Your Vision"
        },
        {
          "alias": "homeSliderSubTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Precision. Power. Performance"
        },
        {
          "alias": "homeSliderDesc",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "We turn your designs into reality with CNC machining, laser cutting, and metal bending \u2014 delivering accuracy, speed, and quality every time."
        },
        {
          "alias": "homeSliderButtonTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Discover More"
        },
        {
          "alias": "homeSliderButtonLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://localhost:44383/services/"
        },
        {
          "alias": "homeSliderTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0646\u0635\u0646\u0639 \u0631\u0624\u064A\u062A\u0643"
        },
        {
          "alias": "homeSliderDesc",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0633\u0648\u0627\u0621 \u0643\u0627\u0646\u062A \u0646\u0645\u0627\u0630\u062C \u0623\u0648\u0644\u064A\u0629 \u0645\u062E\u0635\u0635\u0629 \u0623\u0648 \u0625\u0646\u062A\u0627\u062C \u0643\u0645\u064A\u060C \u0646\u0642\u062F\u0645 \u062D\u0644\u0648\u0644 \u062A\u0635\u0646\u064A\u0639 \u0645\u062A\u0637\u0648\u0631\u0629 \u0645\u0635\u0645\u0645\u0629 \u0644\u062A\u0644\u0628\u064A\u0629 \u0627\u062D\u062A\u064A\u0627\u062C\u0627\u062A \u0645\u062C\u0627\u0644\u0643 \u0627\u0644\u0635\u0646\u0627\u0639\u064A"
        },
        {
          "alias": "homeSliderSubTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0627\u0628\u062A\u0643\u0627\u0631 \u0641\u064A \u0643\u0644 \u0642\u0635 \u0648\u062B\u0646\u064A"
        },
        {
          "alias": "homeSliderButtonTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0627\u0643\u062A\u0634\u0641 \u0627\u0644\u0645\u0632\u064A\u062F"
        }
      ]
    },
    {
      "contentTypeKey": "01b6740b-8ff2-4684-85bf-ae436a591181",
      "key": "9293a102-ab42-4140-892d-69c6829b0411",
      "udi": null,
      "values": [
        {
          "alias": "homeSliderImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b06c1cb3-b4d8-4d6c-a160-bbf0f90ec251",
              "mediaKey": "61683529-4560-43f7-9a80-94f7a04c8960",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "homeSliderTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Forging the Future"
        },
        {
          "alias": "homeSliderSubTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Innovation in Every Cut \u0026 Bend"
        },
        {
          "alias": "homeSliderDesc",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Whether it\u2019s custom prototypes or mass production, we provide advanced manufacturing solutions tailored to your industry needs."
        },
        {
          "alias": "homeSliderButtonTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Discover More"
        },
        {
          "alias": "homeSliderButtonLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://localhost:44383/services/"
        },
        {
          "alias": "homeSliderDesc",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0633\u0648\u0627\u0621 \u0643\u0627\u0646\u062A \u0646\u0645\u0627\u0630\u062C \u0623\u0648\u0644\u064A\u0629 \u0645\u062E\u0635\u0635\u0629 \u0623\u0648 \u0625\u0646\u062A\u0627\u062C \u0643\u0645\u064A\u060C \u0646\u0642\u062F\u0645 \u062D\u0644\u0648\u0644 \u062A\u0635\u0646\u064A\u0639 \u0645\u062A\u0637\u0648\u0631\u0629 \u0645\u0635\u0645\u0645\u0629 \u0644\u062A\u0644\u0628\u064A\u0629 \u0627\u062D\u062A\u064A\u0627\u062C\u0627\u062A \u0645\u062C\u0627\u0644\u0643 \u0627\u0644\u0635\u0646\u0627\u0639\u064A."
        },
        {
          "alias": "homeSliderTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0646\u0635\u0646\u0639 \u0645\u0633\u062A\u0642\u0628\u0644 \u0627\u0644\u062A\u0635\u0646\u064A\u0639"
        },
        {
          "alias": "homeSliderSubTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0627\u0628\u062A\u0643\u0627\u0631 \u0641\u064A \u0643\u0644 \u0642\u0635 \u0648\u062B\u0646\u064A"
        },
        {
          "alias": "homeSliderButtonTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0623\u0643\u062A\u0634\u0641 \u0627\u0644\u0645\u0632\u064A\u062F"
        }
      ]
    },
    {
      "contentTypeKey": "01b6740b-8ff2-4684-85bf-ae436a591181",
      "key": "2af42437-7ff0-4d12-b5c4-ac589b16c64a",
      "udi": null,
      "values": [
        {
          "alias": "homeSliderImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bb6ad1ac-bf4a-4554-86ad-039752735241",
              "mediaKey": "ffb74166-a04e-436a-9b3d-87aa76717083",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "homeSliderTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Built on Quality"
        },
        {
          "alias": "homeSliderSubTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "From Concept to Completion"
        },
        {
          "alias": "homeSliderDesc",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "With cutting-edge technology and skilled craftsmanship, we deliver reliable fabrication services from design to final product."
        },
        {
          "alias": "homeSliderButtonTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Discover More"
        },
        {
          "alias": "homeSliderButtonLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://localhost:44383/services/"
        },
        {
          "alias": "homeSliderButtonTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0623\u0643\u062A\u0634\u0641 \u0627\u0644\u0645\u0632\u064A\u062F"
        },
        {
          "alias": "homeSliderTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": " \u0627\u0644\u062C\u0648\u062F\u0629 \u0623\u0633\u0627\u0633\u0646\u0627"
        },
        {
          "alias": "homeSliderSubTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0645\u0646 \u0627\u0644\u0641\u0643\u0631\u0629 \u0625\u0644\u0649 \u0627\u0644\u062A\u0646\u0641\u064A\u0630"
        },
        {
          "alias": "homeSliderDesc",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0628\u0627\u0633\u062A\u062E\u062F\u0627\u0645 \u0623\u062D\u062F\u062B \u0627\u0644\u062A\u0642\u0646\u064A\u0627\u062A \u0648\u0623\u0639\u0644\u0649 \u0645\u0639\u0627\u064A\u064A\u0631 \u0627\u0644\u062D\u0631\u0641\u064A\u0629\u060C \u0646\u0642\u062F\u0645 \u062E\u062F\u0645\u0627\u062A \u062A\u0635\u0646\u064A\u0639 \u0645\u0648\u062B\u0648\u0642\u0629 \u0645\u0646 \u0627\u0644\u062A\u0635\u0645\u064A\u0645 \u0648\u062D\u062A\u0649 \u0627\u0644\u0645\u0646\u062A\u062C \u0627\u0644\u0646\u0647\u0627\u0626\u064A."
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "90b05f69-04f3-4612-ae1f-2f18ee1d8967",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "9293a102-ab42-4140-892d-69c6829b0411",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "2af42437-7ff0-4d12-b5c4-ac589b16c64a",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "90b05f69-04f3-4612-ae1f-2f18ee1d8967",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "9293a102-ab42-4140-892d-69c6829b0411",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "2af42437-7ff0-4d12-b5c4-ac589b16c64a",
      "culture": "ar",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "90b05f69-04f3-4612-ae1f-2f18ee1d8967",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9293a102-ab42-4140-892d-69c6829b0411",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "2af42437-7ff0-4d12-b5c4-ac589b16c64a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </homeSliders>
    <homeTestimonialTitle>
      <Value Culture="ar"><![CDATA[آراء عملائنا]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[our Testimonials]]></Value>
    </homeTestimonialTitle>
    <homeVideoImage>
      <Value><![CDATA[]]></Value>
    </homeVideoImage>
    <homeVideoLink>
      <Value><![CDATA[https://www.youtube.com/watch?v=x36EQP2og-k]]></Value>
    </homeVideoLink>
    <homeWhyDesc>
      <Value Culture="ar"><![CDATA[شركة ماستر كواليتي للتصنيع المتكامل بخبرة 15 عامًا في خدمة قطاعات صناعية مختلفة مثل صناعة السيارات وغيرها.]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Induyst a full-service manufacturing company with 15 years of experience serving industries such as automotive..
]]></Value>
    </homeWhyDesc>
    <homeWhyPoints>
      <Value Culture="ar"><![CDATA[دعم فني على مدار الساعة طوال أيام الأسبوع
حلول فعّالة من حيث التكلفة
ضمانات يمكنك الاعتماد عليها
مواد صديقة للبيئة]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[24/7 Support at Any Time
Cost-Effectiveness
Guarantees to Count On
Eco-Friendly Material]]></Value>
    </homeWhyPoints>
    <homeWhySubTitle>
      <Value Culture="ar"><![CDATA[نحن رواد في السوق الصناعي منذ عام 2024]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[We are leader In Industrial market since 2024
]]></Value>
    </homeWhySubTitle>
    <homeWhyText1>
      <Value Culture="ar"><![CDATA[نحن شركة معتمدة]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[We are certified company]]></Value>
    </homeWhyText1>
    <homeWhyText2>
      <Value Culture="ar"><![CDATA[نقدم خدمات بجودة عالية]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[We are bring quality services]]></Value>
    </homeWhyText2>
    <homeWhyText3>
      <Value Culture="ar"><![CDATA[دراسة وحلول للمشاريع الهندسية]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Engineering project study & solution]]></Value>
    </homeWhyText3>
    <homeWhyTitle>
      <Value Culture="ar"><![CDATA[لماذا تختارنا]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Why Choose us]]></Value>
    </homeWhyTitle>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[
  "weekly"
]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.8]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>