<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e538a0b-b7a5-4b56-b4b8-fccddc6439a3" Alias="Products" Level="2">
  <Info>
    <Parent Key="b0911fda-a843-4ea0-9151-7c9b12ef7863">Home</Parent>
    <Path>/Home/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2025-09-23T21:08:29</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="769c2381-69dd-44ec-a5cf-fc66b2c49b5e">Products</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value><![CDATA[]]></Value>
    </Canonical>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value><![CDATA[Products]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>