<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff099fe1-8fcd-4f0b-95ae-83d33aae0774" Alias="Product5" Level="4">
  <Info>
    <Parent Key="ae2b1873-77e0-4fbc-93e6-77a1fc2cfd69">Transportation Industry</Parent>
    <Path>/Home/Products/TransportationIndustry/Product5</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-09-23T21:15:59</CreateDate>
    <NodeName Default="Product5" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aa45047d-fe85-4f8a-841f-732186492504">Product</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value><![CDATA[]]></Value>
    </Canonical>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>