<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6ef2eec-869d-4770-b2f9-b7569b2ed291" Alias="about-img.jpg" Level="4">
  <Info>
    <Parent Key="76d61182-a07f-40f3-b48d-f35ffec58355">bg</Parent>
    <Path>/images/homepage1/bg/aboutImgjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:13</CreateDate>
    <NodeName Default="about-img.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mpsks2hu/about-img.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>