<?xml version="1.0" encoding="utf-8"?>
<Media Key="8abb164a-16a4-45dc-b957-90b3585806f4" Alias="about-img.jpg" Level="3">
  <Info>
    <Parent Key="22ca9d2d-0a2a-464a-b392-0ce5314345ca">homepage-2</Parent>
    <Path>/images/homepage2/aboutImgjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:06</CreateDate>
    <NodeName Default="about-img.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yxop0pgn/about-img.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>