<?xml version="1.0" encoding="utf-8"?>
<Media Key="248c2452-646d-4909-bc55-1601e3639e8c" Alias="blog" Level="3">
  <Info>
    <Parent Key="e10ece3a-852b-4a85-a93a-5a5647f70f7d">homepage-1</Parent>
    <Path>/images/homepage1/blog</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:52:23</CreateDate>
    <NodeName Default="blog" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>