<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcbaa438-96c3-411c-b241-3307de3c0d8e" Alias="blog-ads-img.webp" Level="3">
  <Info>
    <Parent Key="c1e1a95a-957d-48fb-a8bc-28725eaf5b9b">bg</Parent>
    <Path>/images/bg/blogAdsImgwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:51</CreateDate>
    <NodeName Default="blog-ads-img.webp" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/w3xpysvk/blog-ads-img.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>