<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1360d85-f580-4799-b14b-a02b9b3daa06" Alias="client-01.png" Level="3">
  <Info>
    <Parent Key="3fee3f8a-ecd6-43c6-9444-32e59e0f990b">client</Parent>
    <Path>/images/client/client01png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:51:35</CreateDate>
    <NodeName Default="client-01.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bldhaf5j/client-01.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>