<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce8689f3-8d99-4572-a51f-e9f033a542aa" Alias="contact-bg-img.png" Level="3">
  <Info>
    <Parent Key="c1e1a95a-957d-48fb-a8bc-28725eaf5b9b">bg</Parent>
    <Path>/images/bg/contactBgImgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:51</CreateDate>
    <NodeName Default="contact-bg-img.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/prbna4hq/contact-bg-img.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>