<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7f873be-90f2-4958-992c-592bb9d61923" Alias="images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:50:49</CreateDate>
    <NodeName Default="images" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>