<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa24a775-4099-4878-b7a3-c47c2e878b5c" Alias="service" Level="3">
  <Info>
    <Parent Key="22ca9d2d-0a2a-464a-b392-0ce5314345ca">homepage-2</Parent>
    <Path>/images/homepage2/service</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:55:08</CreateDate>
    <NodeName Default="service" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>