<?xml version="1.0" encoding="utf-8"?>
<Media Key="27568abf-1e80-4841-bfd2-03441c813a93" Alias="service-06.jpg" Level="3">
  <Info>
    <Parent Key="2ac1f8eb-4ff4-4e17-a0a5-7ba686553653">service</Parent>
    <Path>/images/service/service06jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:54:00</CreateDate>
    <NodeName Default="service-06.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gbabbepj/service-06.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>