<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e9cb30b-91b0-4ae7-8a93-103b193c85c5" Alias="service-03.jpg" Level="3">
  <Info>
    <Parent Key="2ac1f8eb-4ff4-4e17-a0a5-7ba686553653">service</Parent>
    <Path>/images/service/service03jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:54:44</CreateDate>
    <NodeName Default="service-03.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qr2nukgz/service-03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>