<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c3cee16-ebe3-43dc-bb34-a2c790f209a4" Alias="team" Level="3">
  <Info>
    <Parent Key="e10ece3a-852b-4a85-a93a-5a5647f70f7d">homepage-1</Parent>
    <Path>/images/homepage1/team</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:52:23</CreateDate>
    <NodeName Default="team" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>