<?xml version="1.0" encoding="utf-8"?>
<Media Key="15e678d2-6248-4abb-8ce2-30636811301a" Alias="testimonial-bg.jpg" Level="4">
  <Info>
    <Parent Key="fa29a6d7-0d57-4708-b4f5-cfd728c4dba9">bg</Parent>
    <Path>/images/homepage2/bg/testimonialBgjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:07</CreateDate>
    <NodeName Default="testimonial-bg.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lwzkbizb/testimonial-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>