<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6a14672-e8af-456d-87c8-e67efd3a4df4" Alias="2839.jpg" Level="4">
  <Info>
    <Parent Key="8346992b-827a-4cbb-b7ac-b71e14c0367e">New</Parent>
    <Path>/images/service/New/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-19T17:23:10</CreateDate>
    <NodeName Default="2839.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5wgooygg/2839.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>