<?xml version="1.0" encoding="utf-8"?>
<Media Key="463d92d4-f489-4516-b52f-39e0accdc95c" Alias="49865.jpg" Level="4">
  <Info>
    <Parent Key="8346992b-827a-4cbb-b7ac-b71e14c0367e">New</Parent>
    <Path>/images/service/New/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-19T17:23:09</CreateDate>
    <NodeName Default="49865.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lnmhx2ha/49865.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>