<?xml version="1.0" encoding="utf-8"?>
<Media Key="efbf893d-9a97-4248-a170-9fbc14616355" Alias="blog-03b.jpg" Level="3">
  <Info>
    <Parent Key="f2a2043d-c42b-4e38-957f-383a61e920cf">blog</Parent>
    <Path>/images/blog/blog03bjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:51</CreateDate>
    <NodeName Default="blog-03b.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wjbpswp4/blog-03b.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>