<?xml version="1.0" encoding="utf-8"?>
<Media Key="970bbd3a-964e-4f0c-92e5-e81fe545bed2" Alias="blog-img-06.jpg" Level="4">
  <Info>
    <Parent Key="2c48a05b-b0d7-4734-b7c4-6ad6ef868989">blog</Parent>
    <Path>/images/homepage2/blog/blogImg06jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:08</CreateDate>
    <NodeName Default="blog-img-06.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wv1f0ijh/blog-img-06.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>