<?xml version="1.0" encoding="utf-8"?>
<Media Key="7954462c-afee-431e-8f14-58af10093dd1" Alias="img-02.jpg" Level="3">
  <Info>
    <Parent Key="f6af262f-21f9-4655-acf5-97cbf728fe29">avtar</Parent>
    <Path>/images/avtar/img02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:50</CreateDate>
    <NodeName Default="img-02.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uogbft2h/img-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>