<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6e4461b-96ae-4bcb-b849-c578161f6ede" Alias="portfolio-08.jpg" Level="3">
  <Info>
    <Parent Key="e7875104-53af-4bd4-81b7-e9d5cab75427">portfolio</Parent>
    <Path>/images/portfolio/portfolio08jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:34</CreateDate>
    <NodeName Default="portfolio-08.jpg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ssgkeagh/portfolio-08.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>