<?xml version="1.0" encoding="utf-8"?>
<Media Key="843e719b-3dfd-48f5-accf-49ea13c1c94c" Alias="service-img-02.jpg" Level="4">
  <Info>
    <Parent Key="ba87ec43-09e7-4a97-bebe-9b7dcacc89c1">service</Parent>
    <Path>/images/homepage1/service/serviceImg02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:52:56</CreateDate>
    <NodeName Default="service-img-02.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cs3hqmuu/service-img-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>