<?xml version="1.0" encoding="utf-8"?>
<Media Key="f62fc3b4-5280-445f-a12b-0d36e4fa4b84" Alias="team-img-02.jpg" Level="3">
  <Info>
    <Parent Key="e940f6a4-975c-4bda-ac39-00fc4da07815">team</Parent>
    <Path>/images/team/teamImg02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:54:54</CreateDate>
    <NodeName Default="team-img-02.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hmehsqhj/team-img-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>