<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c22b389-f992-4c0a-b672-7d113af8316a" Alias="team-img-01.jpg" Level="3">
  <Info>
    <Parent Key="e940f6a4-975c-4bda-ac39-00fc4da07815">team</Parent>
    <Path>/images/team/teamImg01jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:54:54</CreateDate>
    <NodeName Default="team-img-01.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/az2hjwx1/team-img-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>