<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6af262f-21f9-4655-acf5-97cbf728fe29" Alias="avtar" Level="2">
  <Info>
    <Parent Key="e7f873be-90f2-4958-992c-592bb9d61923">images</Parent>
    <Path>/images/avtar</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:50:50</CreateDate>
    <NodeName Default="avtar" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>