<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed56f98a-4943-48f5-8e82-be4837892ff2" Alias="banner-slider-img" Level="2">
  <Info>
    <Parent Key="e7f873be-90f2-4958-992c-592bb9d61923">images</Parent>
    <Path>/images/bannerSliderImg</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:50:50</CreateDate>
    <NodeName Default="banner-slider-img" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>