<?xml version="1.0" encoding="utf-8"?>
<Media Key="99de1f12-bf63-4cf6-b9ab-a96cf23f6210" Alias="blog-img-01.jpg" Level="4">
  <Info>
    <Parent Key="248c2452-646d-4909-bc55-1601e3639e8c">blog</Parent>
    <Path>/images/homepage1/blog/blogImg01jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:52:23</CreateDate>
    <NodeName Default="blog-img-01.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/txkjqlyk/blog-img-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>