<?xml version="1.0" encoding="utf-8"?>
<Media Key="7509c3ee-0df6-42a4-bdaf-9e20df47d3ec" Alias="blog-img-04.jpg" Level="4">
  <Info>
    <Parent Key="2c48a05b-b0d7-4734-b7c4-6ad6ef868989">blog</Parent>
    <Path>/images/homepage2/blog/blogImg04jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:07</CreateDate>
    <NodeName Default="blog-img-04.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/meef5q25/blog-img-04.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>