<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c48a05b-b0d7-4734-b7c4-6ad6ef868989" Alias="blog" Level="3">
  <Info>
    <Parent Key="22ca9d2d-0a2a-464a-b392-0ce5314345ca">homepage-2</Parent>
    <Path>/images/homepage2/blog</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:55:07</CreateDate>
    <NodeName Default="blog" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>