<?xml version="1.0" encoding="utf-8"?>
<Media Key="45702f93-ddb7-45ea-8d08-b4ccc176433a" Alias="blog-img-02.webp" Level="3">
  <Info>
    <Parent Key="6003bf25-a20d-4550-bac1-5937f876b944">recent-post</Parent>
    <Path>/images/recentPost/blogImg02webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:50</CreateDate>
    <NodeName Default="blog-img-02.webp" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dtsdn244/blog-img-02.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>