<?xml version="1.0" encoding="utf-8"?>
<Media Key="db7e6e68-8b85-4438-a843-d28b83a66abf" Alias="map.png" Level="3">
  <Info>
    <Parent Key="22ca9d2d-0a2a-464a-b392-0ce5314345ca">homepage-2</Parent>
    <Path>/images/homepage2/mappng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:07</CreateDate>
    <NodeName Default="map.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/24sdq1pm/map.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>