<?xml version="1.0" encoding="utf-8"?>
<Media Key="19687138-638d-41f0-8635-6a655616c3d7" Alias="MasterQuality Logo n.png" Level="2">
  <Info>
    <Parent Key="39aedbb9-a93c-4960-8220-4eee805f35cb">Logo</Parent>
    <Path>/Logo/MasterQualityLogoNpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-22T13:53:38</CreateDate>
    <NodeName Default="MasterQuality Logo n.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/w43d3l5e/masterquality-logo-n.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>