<?xml version="1.0" encoding="utf-8"?>
<Media Key="9be411a6-2a6e-4f2b-aa4a-fca629b70fff" Alias="portfolio-detail-01s.jpg" Level="3">
  <Info>
    <Parent Key="e7875104-53af-4bd4-81b7-e9d5cab75427">portfolio</Parent>
    <Path>/images/portfolio/portfolioDetail01sjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:33</CreateDate>
    <NodeName Default="portfolio-detail-01s.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fhnlelih/portfolio-detail-01s.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>