<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ac1f8eb-4ff4-4e17-a0a5-7ba686553653" Alias="service" Level="2">
  <Info>
    <Parent Key="e7f873be-90f2-4958-992c-592bb9d61923">images</Parent>
    <Path>/images/service</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:53:59</CreateDate>
    <NodeName Default="service" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>