<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba87ec43-09e7-4a97-bebe-9b7dcacc89c1" Alias="service" Level="3">
  <Info>
    <Parent Key="e10ece3a-852b-4a85-a93a-5a5647f70f7d">homepage-1</Parent>
    <Path>/images/homepage1/service</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:52:23</CreateDate>
    <NodeName Default="service" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>