<?xml version="1.0" encoding="utf-8"?>
<Media Key="61683529-4560-43f7-9a80-94f7a04c8960" Alias="slider2-01.jpg" Level="3">
  <Info>
    <Parent Key="ed56f98a-4943-48f5-8e82-be4837892ff2">banner-slider-img</Parent>
    <Path>/images/bannerSliderImg/slider201jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:50</CreateDate>
    <NodeName Default="slider2-01.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/u15d3vyj/slider2-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>