<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd3d6285-9815-4b26-b994-a20c51ceb969" Alias="team-img-03.jpg" Level="3">
  <Info>
    <Parent Key="e940f6a4-975c-4bda-ac39-00fc4da07815">team</Parent>
    <Path>/images/team/teamImg03jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:54:54</CreateDate>
    <NodeName Default="team-img-03.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bkuhw412/team-img-03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>