<?xml version="1.0" encoding="utf-8"?>
<Media Key="5bfbc9ce-78ad-4db0-9f32-2fb1ca21c71c" Alias="testimonial-img-05.jpg" Level="4">
  <Info>
    <Parent Key="084f7f94-a90d-4f99-8901-ff420e40d8eb">testimonial</Parent>
    <Path>/images/homepage2/testimonial/testimonialImg05jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:10</CreateDate>
    <NodeName Default="testimonial-img-05.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/iebl11oe/testimonial-img-05.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>