<?xml version="1.0" encoding="utf-8"?>
<Media Key="f66bd539-2832-44e6-a721-2e576a8e972b" Alias="author-img.png" Level="2">
  <Info>
    <Parent Key="e7f873be-90f2-4958-992c-592bb9d61923">images</Parent>
    <Path>/images/authorImgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:49</CreateDate>
    <NodeName Default="author-img.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wypd0qc1/author-img.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>