<?xml version="1.0" encoding="utf-8"?>
<Media Key="0bdb9a58-c128-4e7d-9da9-a5fa9bb5b65d" Alias="blog-02b.jpg" Level="3">
  <Info>
    <Parent Key="f2a2043d-c42b-4e38-957f-383a61e920cf">blog</Parent>
    <Path>/images/blog/blog02bjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:51</CreateDate>
    <NodeName Default="blog-02b.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/03ij1pkb/blog-02b.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>