<?xml version="1.0" encoding="utf-8"?>
<Media Key="774f197b-c3ad-4449-baa4-7d2eea0d3f42" Alias="down-arrow.html" Level="3">
  <Info>
    <Parent Key="c1e1a95a-957d-48fb-a8bc-28725eaf5b9b">bg</Parent>
    <Path>/images/bg/downArrowhtml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-08-31T21:50:51</CreateDate>
    <NodeName Default="down-arrow.html" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rbyljv2k/down-arrow.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>