<?xml version="1.0" encoding="utf-8"?>
<Media Key="68ccaf99-a3b4-406e-a437-8c479d5a63e5" Alias="portfolio-detail-02s.jpg" Level="3">
  <Info>
    <Parent Key="e7875104-53af-4bd4-81b7-e9d5cab75427">portfolio</Parent>
    <Path>/images/portfolio/portfolioDetail02sjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:34</CreateDate>
    <NodeName Default="portfolio-detail-02s.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/czsjvxw3/portfolio-detail-02s.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>