<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c15dcda-f826-4032-b65a-fd25b6c57950" Alias="portfolio-03.jpg" Level="3">
  <Info>
    <Parent Key="e7875104-53af-4bd4-81b7-e9d5cab75427">portfolio</Parent>
    <Path>/images/portfolio/portfolio03jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:33</CreateDate>
    <NodeName Default="portfolio-03.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kulfh0sp/portfolio-03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>