<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb2c94d6-dac4-4351-b05c-be7d81a0826a" Alias="shape-img.png" Level="4">
  <Info>
    <Parent Key="fa29a6d7-0d57-4708-b4f5-cfd728c4dba9">bg</Parent>
    <Path>/images/homepage2/bg/shapeImgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:07</CreateDate>
    <NodeName Default="shape-img.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lfpguxnn/shape-img.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>