<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6924d40-746a-411b-be7b-36e5f1ba753b" Alias="team" Level="3">
  <Info>
    <Parent Key="22ca9d2d-0a2a-464a-b392-0ce5314345ca">homepage-2</Parent>
    <Path>/images/homepage2/team</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:55:09</CreateDate>
    <NodeName Default="team" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>