<?xml version="1.0" encoding="utf-8"?>
<Media Key="5997303a-aa79-4230-b731-32d72d86da38" Alias="titlebar-bg.jpg" Level="3">
  <Info>
    <Parent Key="c1e1a95a-957d-48fb-a8bc-28725eaf5b9b">bg</Parent>
    <Path>/images/bg/titlebarBgjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:51</CreateDate>
    <NodeName Default="titlebar-bg.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wx3nd1yq/titlebar-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>