@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

@{
         var content = (ContentModels.AboutWorkProcess)Model.Content;
		 var AboutWorkProcessImage = content.Value<MediaWithCrops>("aboutWorkProcessImage");
}



<!-- Slide1 -->
<article class="pbmit-miconheading-style-10 swiper-slide">
				<div class="pbmit-ihbox-style-10">
					<div class="pbmit-ihbox-box">
						<span class="pbmit-box-number">@content.Value("aboutWorkProcessNo")</span>
						<div class="pbmit-ihbox-icon">
							<div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon">
								<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1">
									<path d="m490.9 465.985h-52.67a11.985 11.985 0 0 0 11.34-11.87v-33.57h-178.67v33.57a11.886 11.886 0 0 0 11.88 11.87h-201.025a5.025 5.025 0 0 0 -.54-.08 20.92 20.92 0 0 1 -18.81-20.64v-52.55h194.495v-14.01h-194.495v-168.94h268.87v12.7h14v-79.26a34.752 34.752 0 0 0 -34.72-34.72h-49.607v-20.894a7 7 0 0 0 -7-7h-114.21a7 7 0 0 0 -7 7v20.894h-49.6a34.761 34.761 0 0 0 -34.73 34.72v302.06a34.514 34.514 0 0 0 6.98 20.72h-34.283a7.008 7.008 0 0 0 -7 7v25.015a7.008 7.008 0 0 0 7 7h469.795a7 7 0 0 0 7-7v-25.01a7 7 0 0 0 -7-7.005zm-344.16-371.392h100.2v13.892h-100.2zm-63.6 27.892h227.42a20.75 20.75 0 0 1 20.72 20.72v52.56h-268.875v-52.56a20.752 20.752 0 0 1 20.73-20.72zm400.76 368.5h-455.795v-10.985h455.795zm-286.95-262.26a6.984 6.984 0 0 0 -5.2 2.31c-23.21 25.73-37.08 49.35-41.23 70.19-3.65 18.34.56 34.45 11.84 45.35 9.16 8.84 21.76 13.26 34.38 13.26 12.66 0 25.33-4.45 34.53-13.34 11.31-10.93 15.55-27.04 11.95-45.36-4.1-20.84-17.92-44.43-41.08-70.1a6.978 6.978 0 0 0 -5.195-2.31zm24.59 107.7c-12.73 12.3-36.76 12.34-49.45.08-7.85-7.59-10.56-18.84-7.83-32.54 3.29-16.55 14.55-36.37 32.69-57.62 18.07 21.19 29.28 40.96 32.53 57.49 2.685 13.7-.055 24.97-7.945 32.59zm201.33-136.95a7 7 0 0 1 7 7v15.99h-70.24v-15.99a7 7 0 0 1 7-7zm-140.09 36.99h154.91a11.894 11.894 0 0 1 11.88 11.88v33.555h-178.67v-33.56a11.894 11.894 0 0 1 11.875-11.875zm-11.88 170.08h178.67v-110.63h-178.67zm55.59-51c2.91-14.6 12.54-31.05 28.62-48.88a7.008 7.008 0 0 1 10.4 0c16.04 17.79 25.64 34.22 28.51 48.82 2.6 13.26-.52 24.95-8.78 32.94a37.217 37.217 0 0 1 -50.04.05c-8.255-7.97-11.355-19.67-8.715-32.93zm18.44 22.86c-8.63-8.34-8.68-27.35 15.38-56.35 23.97 28.92 23.86 47.93 15.2 56.3-7.885 7.61-22.745 7.63-30.585.05zm-188.945-314.43a7 7 0 0 1 7-7h25.17v-35.46a14.515 14.515 0 0 1 14.48-14.51h200.81v167.21h14.74a7.005 7.005 0 0 1 0 14.01h-46.88a7.005 7.005 0 1 1 0-14.01h14.74v-142.81a7.01 7.01 0 0 0 -7.01-7h-163.235a10.245 10.245 0 0 0 -10.24 10.23v22.34h25.15a7.005 7.005 0 0 1 0 14.01h-67.72a7 7 0 0 1 -7.005-7.01z" />
								</svg>
							</div>
						</div>
						<h2 class="pbmit-element-title">
							@content.Value("aboutWorkProcessTitle")
						</h2>
						<div class="pbmit-heading-desc">@content.Value("aboutWorkProcessDesc")</div>
					</div>
				</div>
</article>