<?xml version="1.0" encoding="utf-8"?>
<Content Key="8017e0ae-b1ac-4105-b56b-9474e815d305" Alias="Product1" Level="4">
  <Info>
    <Parent Key="d52a6d6a-716e-4415-955b-cff5db589d19">Air Conditioning and Refrigeration</Parent>
    <Path>/Home/Products/AirConditioningAndRefrigeration/Product1</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-09-23T21:14:09</CreateDate>
    <NodeName Default="Product1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aa45047d-fe85-4f8a-841f-732186492504">Product</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value><![CDATA[]]></Value>
    </Canonical>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <productDesc>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003EProduct1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1Product1\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </productDesc>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "a877c89f-a44f-4908-97b6-2b3a250caa2c",
    "mediaKey": "447c1628-408d-40b0-8986-92236951a68d",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </productImage>
    <productMedia>
      <Value><![CDATA[]]></Value>
    </productMedia>
    <productName>
      <Value><![CDATA[Product1]]></Value>
    </productName>
    <productSubTitle>
      <Value><![CDATA[Product1Product1]]></Value>
    </productSubTitle>
    <productSummary>
      <Value><![CDATA[ProductProduct1Product1Product1Product1Product1]]></Value>
    </productSummary>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>