<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b52125c1-96a7-4718-b35e-80c05d8906db" Alias="products" Level="2">
  <Info>
    <Name>Products</Name>
    <Icon>icon-grid color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Portfolio</Folder>
    <Compositions>
      <Composition Key="5d67e395-cc51-4b26-8c5c-4adc74e51f42">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="769c2381-69dd-44ec-a5cf-fc66b2c49b5e">Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c2b38aa9-1091-4f73-817d-04fec097174a" SortOrder="0">productCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>