<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1cbb74f-dc54-4c10-ba22-914d5bf8b76b" Alias="termsAndConditions" Level="2">
  <Info>
    <Name>Terms And Conditions</Name>
    <Icon>icon-diploma color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="5d67e395-cc51-4b26-8c5c-4adc74e51f42">sEO</Composition>
    </Compositions>
    <DefaultTemplate>termsAndConditions</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1cb40af4-2e7b-4b3f-a74f-e526949e7d2d">termsAndConditions</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>