<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa29a6d7-0d57-4708-b4f5-cfd728c4dba9" Alias="bg" Level="3">
  <Info>
    <Parent Key="22ca9d2d-0a2a-464a-b392-0ce5314345ca">homepage-2</Parent>
    <Path>/images/homepage2/bg</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:55:07</CreateDate>
    <NodeName Default="bg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>