<?xml version="1.0" encoding="utf-8"?>
<Media Key="7794af6e-ac5d-457b-9b13-f86aae6837b9" Alias="blog-03.jpg" Level="3">
  <Info>
    <Parent Key="f2a2043d-c42b-4e38-957f-383a61e920cf">blog</Parent>
    <Path>/images/blog/blog03jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:51</CreateDate>
    <NodeName Default="blog-03.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2fsnfqju/blog-03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>