<?xml version="1.0" encoding="utf-8"?>
<Media Key="a708d4de-074b-4cdb-9f15-13a573a38ddf" Alias="client-03.png" Level="3">
  <Info>
    <Parent Key="3fee3f8a-ecd6-43c6-9444-32e59e0f990b">client</Parent>
    <Path>/images/client/client03png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:51:34</CreateDate>
    <NodeName Default="client-03.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kepe2ejc/client-03.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>