<?xml version="1.0" encoding="utf-8"?>
<Media Key="da8fa5d5-bcee-4f93-9929-8a2ffde9660a" Alias="footer-bg.webp" Level="3">
  <Info>
    <Parent Key="c1e1a95a-957d-48fb-a8bc-28725eaf5b9b">bg</Parent>
    <Path>/images/bg/footerBgwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:51</CreateDate>
    <NodeName Default="footer-bg.webp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ljxns1eh/footer-bg.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>