<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf0ae36e-d0c3-4350-b43c-838f4da84e40" Alias="portfolio-img-04.jpg" Level="3">
  <Info>
    <Parent Key="e7875104-53af-4bd4-81b7-e9d5cab75427">portfolio</Parent>
    <Path>/images/portfolio/portfolioImg04jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:33</CreateDate>
    <NodeName Default="portfolio-img-04.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2eufy4nk/portfolio-img-04.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>