<?xml version="1.0" encoding="utf-8"?>
<Media Key="54f03322-f28b-4095-9139-282c2cf3357c" Alias="portfolio-detail-02.jpg" Level="3">
  <Info>
    <Parent Key="e7875104-53af-4bd4-81b7-e9d5cab75427">portfolio</Parent>
    <Path>/images/portfolio/portfolioDetail02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:33</CreateDate>
    <NodeName Default="portfolio-detail-02.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vx2lnyxc/portfolio-detail-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>