<?xml version="1.0" encoding="utf-8"?>
<Media Key="9dc91723-3937-4d45-823f-d394520788f3" Alias="portfolio-img-01.jpg" Level="4">
  <Info>
    <Parent Key="6c0e5ae5-7a55-43a7-ac43-39cc39822ac1">portfolio</Parent>
    <Path>/images/homepage2/portfolio/portfolioImg01jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:08</CreateDate>
    <NodeName Default="portfolio-img-01.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vtoj4k04/portfolio-img-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>