<?xml version="1.0" encoding="utf-8"?>
<Media Key="a85feeb7-f05e-46ae-a2d2-14e6d9f8d8a2" Alias="service-04.jpg" Level="3">
  <Info>
    <Parent Key="2ac1f8eb-4ff4-4e17-a0a5-7ba686553653">service</Parent>
    <Path>/images/service/service04jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:54:00</CreateDate>
    <NodeName Default="service-04.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hasbshrx/service-04.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>