<?xml version="1.0" encoding="utf-8"?>
<Media Key="89e7d718-3dec-4ed0-ba70-72520f46852b" Alias="team-single-01.jpg" Level="3">
  <Info>
    <Parent Key="e940f6a4-975c-4bda-ac39-00fc4da07815">team</Parent>
    <Path>/images/team/teamSingle01jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:54:54</CreateDate>
    <NodeName Default="team-single-01.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/s2olcp2f/team-single-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>