<?xml version="1.0" encoding="utf-8"?>
<Media Key="3700872f-3452-48e0-9e88-86f31a803e2b" Alias="team-contact-bg.png" Level="3">
  <Info>
    <Parent Key="c1e1a95a-957d-48fb-a8bc-28725eaf5b9b">bg</Parent>
    <Path>/images/bg/teamContactBgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:51</CreateDate>
    <NodeName Default="team-contact-bg.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ubgfnaj1/team-contact-bg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>