<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ccdc8c8-b5db-4730-ad2b-03449ec2b18f" Alias="SEO - Search Engine Change Frequency - Dropdown" Level="2">
  <Info>
    <Name>SEO - Search Engine Change Frequency - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "always",
    "hourly",
    "daily",
    "weekly",
    "monthly",
    "yearly",
    "never"
  ],
  "multiple": false
}]]></Config>
</DataType>