<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cfe45f9e-f985-4ecd-8ffe-adb5f6aad2d2" Alias="contact" Level="2">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b37e96f0-0fc7-4df1-8d0a-b88956048105" SortOrder="0">contactItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>