<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6d296ec-198b-4b37-970d-e0d7c00b6f62" Alias="blog-img-01.jpg" Level="4">
  <Info>
    <Parent Key="2c48a05b-b0d7-4734-b7c4-6ad6ef868989">blog</Parent>
    <Path>/images/homepage2/blog/blogImg01jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:07</CreateDate>
    <NodeName Default="blog-img-01.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mnoji2hc/blog-img-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>