<?xml version="1.0" encoding="utf-8"?>
<Media Key="3297e8ee-58cc-45a5-8300-2b01530dc94d" Alias="blog-img-02.jpg" Level="4">
  <Info>
    <Parent Key="2c48a05b-b0d7-4734-b7c4-6ad6ef868989">blog</Parent>
    <Path>/images/homepage2/blog/blogImg02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:07</CreateDate>
    <NodeName Default="blog-img-02.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/merndbff/blog-img-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>