<?xml version="1.0" encoding="utf-8"?>
<Media Key="75e8a55d-d47e-467d-a9ba-6d1046c9deb2" Alias="history-03.jpg" Level="3">
  <Info>
    <Parent Key="1b787fd5-d5c7-4eab-9d1c-404531f0a0d1">history</Parent>
    <Path>/images/history/history03jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:52:06</CreateDate>
    <NodeName Default="history-03.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0jxl3qyx/history-03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>