<?xml version="1.0" encoding="utf-8"?>
<Media Key="d12d2543-d07e-4ec9-907d-71f571b26b03" Alias="play-bg.jpg" Level="4">
  <Info>
    <Parent Key="76d61182-a07f-40f3-b48d-f35ffec58355">bg</Parent>
    <Path>/images/homepage1/bg/playBgjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:13</CreateDate>
    <NodeName Default="play-bg.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ztxhwzyx/play-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>