<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad226652-67cf-4c0c-bc88-37ec01e3e54e" Alias="portfolio-img-07.jpg" Level="3">
  <Info>
    <Parent Key="e7875104-53af-4bd4-81b7-e9d5cab75427">portfolio</Parent>
    <Path>/images/portfolio/portfolioImg07jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:34</CreateDate>
    <NodeName Default="portfolio-img-07.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1wwgig3g/portfolio-img-07.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>