<?xml version="1.0" encoding="utf-8"?>
<Media Key="35ff1481-d37d-4fec-b08d-de943a0b5b15" Alias="portfolio-img-02.jpg" Level="4">
  <Info>
    <Parent Key="6c0e5ae5-7a55-43a7-ac43-39cc39822ac1">portfolio</Parent>
    <Path>/images/homepage2/portfolio/portfolioImg02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:08</CreateDate>
    <NodeName Default="portfolio-img-02.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/b1pltayu/portfolio-img-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>