<?xml version="1.0" encoding="utf-8"?>
<Media Key="6652a607-3637-42c5-870e-5109a87dab8d" Alias="service-img-02.jpg" Level="4">
  <Info>
    <Parent Key="fa24a775-4099-4878-b7a3-c47c2e878b5c">service</Parent>
    <Path>/images/homepage2/service/serviceImg02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:08</CreateDate>
    <NodeName Default="service-img-02.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rbwbjuc4/service-img-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>