<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffb74166-a04e-436a-9b3d-87aa76717083" Alias="service-07.jpg" Level="3">
  <Info>
    <Parent Key="2ac1f8eb-4ff4-4e17-a0a5-7ba686553653">service</Parent>
    <Path>/images/service/service07jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:54:00</CreateDate>
    <NodeName Default="service-07.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3gfpcsjh/service-07.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>