<?xml version="1.0" encoding="utf-8"?>
<Media Key="2571e6bf-d5d5-48d7-9639-d3a65fbe23c0" Alias="team-img-01.jpg" Level="4">
  <Info>
    <Parent Key="0c3cee16-ebe3-43dc-bb34-a2c790f209a4">team</Parent>
    <Path>/images/homepage1/team/teamImg01jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:52:23</CreateDate>
    <NodeName Default="team-img-01.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gawdpe32/team-img-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>