<?xml version="1.0" encoding="utf-8"?>
<Media Key="0820ddda-1346-49e8-af3d-8b64066dc851" Alias="testimonial-img-02.jpg" Level="4">
  <Info>
    <Parent Key="084f7f94-a90d-4f99-8901-ff420e40d8eb">testimonial</Parent>
    <Path>/images/homepage2/testimonial/testimonialImg02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:10</CreateDate>
    <NodeName Default="testimonial-img-02.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kulhnprp/testimonial-img-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>