<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0776f48-5a3e-480b-9c79-0bf25e275920" Alias="Home Page - HomeSliders - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - HomeSliders - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "01b6740b-8ff2-4684-85bf-ae436a591181",
      "label": "{=homeSliderTitle}"
    }
  ]
}]]></Config>
</DataType>