<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8a8d300d-0be0-41bf-9fba-d187aa88dbb3" Alias="Home Page - HomeWhyPoints - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - HomeWhyPoints - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>