<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cfff627a-dd3e-4184-b117-22d3f7d12ac2" Alias="SEO - Twitter Card Type - Dropdown" Level="2">
  <Info>
    <Name>SEO - Twitter Card Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "summary",
    "summary_large_image"
  ],
  "multiple": false
}]]></Config>
</DataType>