<?xml version="1.0" encoding="utf-8"?>
<DataType Key="13f7f701-da7b-4d9b-b805-b09697a17a0d" Alias="About - aboutTestimonials - Block List Property Editor UI" Level="1">
  <Info>
    <Name>About - aboutTestimonials - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d2da9465-dbb6-4916-b34e-df6e06e0f27a",
      "label": "{=aboutTestimonialName}"
    }
  ]
}]]></Config>
</DataType>