<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8bebc249-72e4-49af-ac92-b63c3203f459" Alias="portfolio" Level="2">
  <Info>
    <Name>Portfolio</Name>
    <Icon>icon-folders color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Portfolio</Folder>
    <Compositions>
      <Composition Key="5d67e395-cc51-4b26-8c5c-4adc74e51f42">sEO</Composition>
    </Compositions>
    <DefaultTemplate>portfolio</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ae7c5e34-970a-472a-910d-6b49163f0c32">portfolio</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1ae7f59a-018f-4486-aa38-154d7746840b" SortOrder="0">portfolioCategories</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>