<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b46e965-e169-459b-8f11-8ea29dd01e42" Alias="client-06-hover.png" Level="3">
  <Info>
    <Parent Key="3fee3f8a-ecd6-43c6-9444-32e59e0f990b">client</Parent>
    <Path>/images/client/client06Hoverpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:51:35</CreateDate>
    <NodeName Default="client-06-hover.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3irbbhia/client-06-hover.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>