<?xml version="1.0" encoding="utf-8"?>
<Media Key="e10ece3a-852b-4a85-a93a-5a5647f70f7d" Alias="homepage-1" Level="2">
  <Info>
    <Parent Key="e7f873be-90f2-4958-992c-592bb9d61923">images</Parent>
    <Path>/images/homepage1</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:52:22</CreateDate>
    <NodeName Default="homepage-1" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>