<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebff1b42-f95e-4963-9934-79f6012a5fc0" Alias="portfolio-02.jpg" Level="3">
  <Info>
    <Parent Key="e7875104-53af-4bd4-81b7-e9d5cab75427">portfolio</Parent>
    <Path>/images/portfolio/portfolio02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:33</CreateDate>
    <NodeName Default="portfolio-02.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zxilsxjx/portfolio-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>