<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c0e5ae5-7a55-43a7-ac43-39cc39822ac1" Alias="portfolio" Level="3">
  <Info>
    <Parent Key="22ca9d2d-0a2a-464a-b392-0ce5314345ca">homepage-2</Parent>
    <Path>/images/homepage2/portfolio</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:55:08</CreateDate>
    <NodeName Default="portfolio" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>