<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef50b975-872a-45c6-af1d-b4fa83ba549c" Alias="About - AboutValues - Block List Property Editor UI" Level="1">
  <Info>
    <Name>About - AboutValues - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a4a36821-6b33-4947-9cc2-b9882acd8a64",
      "label": "{=aboutValueTitle}"
    }
  ]
}]]></Config>
</DataType>