<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55791d5b-922b-441a-ace7-c67a458298a7" Alias="SEO - Facebook Object Type - Dropdown" Level="2">
  <Info>
    <Name>SEO - Facebook Object Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "website",
    "article",
    "business.business",
    "place",
    "product",
    "product.group",
    "product.item",
    "profile",
    "video.other"
  ],
  "multiple": false
}]]></Config>
</DataType>