<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0cfdfc3d-3e3d-4106-ad2c-ba2cc1f988a5" Alias="SEO - Search Engine Relative Priority - Slider" Level="2">
  <Info>
    <Name>SEO - Search Engine Relative Priority - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "maxVal": 1,
  "minVal": 0,
  "step": 0.1
}]]></Config>
</DataType>