<?xml version="1.0" encoding="utf-8"?>
<Content Key="757a3da7-bf22-4b99-bd7e-2973551f7999" Alias="About" Level="2">
  <Info>
    <Parent Key="b0911fda-a843-4ea0-9151-7c9b12ef7863">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2025-08-31T03:22:55</CreateDate>
    <NodeName Default="About">
      <Name Culture="ar">عنا</Name>
      <Name Culture="en-US">About</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="c2671f24-4ee7-4f33-ab87-f316fee17049">about</Template>
  </Info>
  <Properties>
    <aboutCardImage1>
      <Value><![CDATA[[
  {
    "key": "7d34bf22-a276-4482-99f1-8f307a1d30c7",
    "mediaKey": "91c953b4-7819-4b7c-87c8-83c547ebbd69",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutCardImage1>
    <aboutCardImage2>
      <Value><![CDATA[[
  {
    "key": "3a91fb36-5424-46a4-b065-96aaf2916956",
    "mediaKey": "1228980b-94ea-4e6c-bf67-83831e82dcfe",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutCardImage2>
    <aboutCardLink1>
      <Value><![CDATA[https://localhost:44389/]]></Value>
    </aboutCardLink1>
    <aboutCardText1>
      <Value><![CDATA[Trusted By Additional Than 450,000 Upbeat Individuals From Others]]></Value>
    </aboutCardText1>
    <aboutCardText2>
      <Value><![CDATA[Growth in revenue year over year by businesses using Our Company to unify their in-store and online sales..]]></Value>
    </aboutCardText2>
    <aboutCardText3>
      <Value><![CDATA[222]]></Value>
    </aboutCardText3>
    <aboutCardText4>
      <Value><![CDATA[our company value]]></Value>
    </aboutCardText4>
    <aboutClientsSubTitle>
      <Value><![CDATA[]]></Value>
    </aboutClientsSubTitle>
    <aboutClientsTitle>
      <Value><![CDATA[]]></Value>
    </aboutClientsTitle>
    <aboutHeaderImage>
      <Value><![CDATA[[
  {
    "key": "caf31251-58d8-4de7-9a24-183332144519",
    "mediaKey": "bd85e58b-5993-44a4-ae4b-c8d23b04d72a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutHeaderImage>
    <aboutHeaderTitle>
      <Value><![CDATA[About]]></Value>
    </aboutHeaderTitle>
    <aboutOurClients>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a4ad666e-e127-43e2-951c-b6a6540dd908",
      "key": "6abd8c9a-f273-4250-ade6-503c9034dee9",
      "udi": null,
      "values": [
        {
          "alias": "aboutOurClientImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f7284d88-aaac-47b6-8164-de94dacdcfd4",
              "mediaKey": "23a170ad-a30e-48f5-941c-2a639733576c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "aboutOurClientName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "fddf"
        }
      ]
    },
    {
      "contentTypeKey": "a4ad666e-e127-43e2-951c-b6a6540dd908",
      "key": "117fa7cd-09bc-4b2b-ac7a-f74055426c69",
      "udi": null,
      "values": [
        {
          "alias": "aboutOurClientImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "025af12d-6503-498d-a867-5de609585a9c",
              "mediaKey": "a708d4de-074b-4cdb-9f15-13a573a38ddf",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "aboutOurClientName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "dfdfd"
        }
      ]
    },
    {
      "contentTypeKey": "a4ad666e-e127-43e2-951c-b6a6540dd908",
      "key": "6c73be69-5752-432a-b861-991d6abc2336",
      "udi": null,
      "values": [
        {
          "alias": "aboutOurClientImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dd63ceb7-ac88-456d-8869-35fa036a19c4",
              "mediaKey": "c5c68ef0-a808-4c07-b291-1f9b7d9f9c87",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "aboutOurClientName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "hjgjg"
        }
      ]
    },
    {
      "contentTypeKey": "a4ad666e-e127-43e2-951c-b6a6540dd908",
      "key": "d5dd2bf9-5169-4202-9f75-4561ba332a6e",
      "udi": null,
      "values": [
        {
          "alias": "aboutOurClientImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d42cc604-b6b3-463a-90ad-f32a99ef7caa",
              "mediaKey": "3d5b8b5c-431c-4feb-a1d5-fdf648b292fc",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "aboutOurClientName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "fdgdgd"
        }
      ]
    },
    {
      "contentTypeKey": "a4ad666e-e127-43e2-951c-b6a6540dd908",
      "key": "3e0084d8-31e8-4197-b5f1-283680d85683",
      "udi": null,
      "values": [
        {
          "alias": "aboutOurClientImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a4f7f196-eb7b-4541-8cbe-eb3968b8026b",
              "mediaKey": "a1360d85-f580-4799-b14b-a02b9b3daa06",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "aboutOurClientName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "rtet"
        }
      ]
    },
    {
      "contentTypeKey": "a4ad666e-e127-43e2-951c-b6a6540dd908",
      "key": "8cbb587c-0c1d-49ef-ab7a-5a7a80bacd3a",
      "udi": null,
      "values": [
        {
          "alias": "aboutOurClientImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d54db117-af61-447c-a8a3-4285d37e5711",
              "mediaKey": "8370f8dc-24c3-487f-b01a-303adc86df13",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "aboutOurClientName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ikhjhj"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "6abd8c9a-f273-4250-ade6-503c9034dee9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "117fa7cd-09bc-4b2b-ac7a-f74055426c69",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6c73be69-5752-432a-b861-991d6abc2336",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d5dd2bf9-5169-4202-9f75-4561ba332a6e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3e0084d8-31e8-4197-b5f1-283680d85683",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8cbb587c-0c1d-49ef-ab7a-5a7a80bacd3a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6abd8c9a-f273-4250-ade6-503c9034dee9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "117fa7cd-09bc-4b2b-ac7a-f74055426c69",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6c73be69-5752-432a-b861-991d6abc2336",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d5dd2bf9-5169-4202-9f75-4561ba332a6e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3e0084d8-31e8-4197-b5f1-283680d85683",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8cbb587c-0c1d-49ef-ab7a-5a7a80bacd3a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </aboutOurClients>
    <aboutPointDesc1>
      <Value><![CDATA[They are in a job related to their field of study]]></Value>
    </aboutPointDesc1>
    <aboutPointDesc2>
      <Value><![CDATA[Achieved career growth within their sector industry.]]></Value>
    </aboutPointDesc2>
    <aboutPointDesc3>
      <Value><![CDATA[Gained experience through real-world project.]]></Value>
    </aboutPointDesc3>
    <aboutPointNo1>
      <Value><![CDATA[80]]></Value>
    </aboutPointNo1>
    <aboutPointNo2>
      <Value><![CDATA[90]]></Value>
    </aboutPointNo2>
    <aboutPointNo3>
      <Value><![CDATA[100]]></Value>
    </aboutPointNo3>
    <aboutProcessSubTitle>
      <Value Culture="ar"><![CDATA[منهجية واضحة خطوة بخطوة من المواد الخام حتى تسليم المنتج النهائي.]]></Value>
      <Value Culture="en-US"><![CDATA[We create personalized 
industry solutions]]></Value>
    </aboutProcessSubTitle>
    <aboutProcessTitle>
      <Value Culture="ar"><![CDATA[خطوات عملنا]]></Value>
      <Value Culture="en-US"><![CDATA[Working Process]]></Value>
    </aboutProcessTitle>
    <aboutTestimonialImage>
      <Value><![CDATA[[
  {
    "key": "77d14c77-6009-4f96-b69d-16736302d44a",
    "mediaKey": "2c68693a-4a6d-418e-9195-6b631015bd8b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutTestimonialImage>
    <aboutTestimonials>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d2da9465-dbb6-4916-b34e-df6e06e0f27a",
      "key": "5aef80cc-3441-4d40-8dcc-6bf880e9f736",
      "udi": null,
      "values": [
        {
          "alias": "aboutTestimonialName",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Ahmed"
        },
        {
          "alias": "aboutTestimonialDesc",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "\t\t\t\t\t\t\t\t\t\t\tThey are the best of the best, and expertly trained team members who take the extra step and go the extra mile, all to fulfill our dedicated promise to deliver innovative and dynamic solutions to our customers to fit the needs of a rapidly our needs!!\n"
        },
        {
          "alias": "aboutTestimonialPostion",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "CEO ddbs"
        },
        {
          "alias": "aboutTestimonialWriterImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9d1f6e55-e2df-4758-b9d8-779d768e4f69",
              "mediaKey": "6c22b389-f992-4c0a-b672-7d113af8316a",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d2da9465-dbb6-4916-b34e-df6e06e0f27a",
      "key": "833bab3e-0fc3-44f2-b1a8-6d1a42a0c096",
      "udi": null,
      "values": [
        {
          "alias": "aboutTestimonialDesc",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "\t\t\t\t\t\t\t\t\t\t\tThey are the best of the best, and expertly trained team members who take the extra step and go the extra mile, all to fulfill our dedicated promise to deliver innovative and dynamic solutions to our customers to fit the needs of a rapidly our needs!!\n"
        },
        {
          "alias": "aboutTestimonialName",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Moahmmed"
        },
        {
          "alias": "aboutTestimonialPostion",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "CFO dshd"
        }
      ]
    },
    {
      "contentTypeKey": "d2da9465-dbb6-4916-b34e-df6e06e0f27a",
      "key": "ba6fb40e-c0dc-4296-8096-1702bae9f04f",
      "udi": null,
      "values": [
        {
          "alias": "aboutTestimonialDesc",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "\t\t\t\t\t\t\t\t\t\t\tThey are the best of the best, and expertly trained team members who take the extra step and go the extra mile, all to fulfill our dedicated promise to deliver innovative and dynamic solutions to our customers to fit the needs of a rapidly our needs!!\n"
        },
        {
          "alias": "aboutTestimonialName",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Ali"
        },
        {
          "alias": "aboutTestimonialPostion",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "CMO fhfh"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5aef80cc-3441-4d40-8dcc-6bf880e9f736",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "833bab3e-0fc3-44f2-b1a8-6d1a42a0c096",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "ba6fb40e-c0dc-4296-8096-1702bae9f04f",
      "culture": "en-US",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5aef80cc-3441-4d40-8dcc-6bf880e9f736",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "833bab3e-0fc3-44f2-b1a8-6d1a42a0c096",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ba6fb40e-c0dc-4296-8096-1702bae9f04f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </aboutTestimonials>
    <aboutTestimonialSubTitle>
      <Value><![CDATA[What Our Customers Say?]]></Value>
    </aboutTestimonialSubTitle>
    <aboutTestimonialTitle>
      <Value><![CDATA[To know more about us]]></Value>
    </aboutTestimonialTitle>
    <aboutWhyDesc>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003EInduyst is a full-service manufacturing company with 15 years of experience serving industries such as automotive, Our mission is to deliver products that meet the highest standards of quality and performance.\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003E\u003Cspan class=\u0022pbmit-icon-list-text\u0022 style=\u0022box-sizing: border-box; padding-left: 5px; color: rgb(22, 34, 45); align-self: center; transition: color 0.3s;\u0022\u003EReliable Guarantees You Can \u003C/span\u003E\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003E\u003Cspan class=\u0022pbmit-icon-list-text\u0022 style=\u0022box-sizing: border-box; padding-left: 5px; color: rgb(22, 34, 45); align-self: center; transition: color 0.3s;\u0022\u003ETrustCommitment to Eco-Friendly Materials\u003C/span\u003E\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </aboutWhyDesc>
    <aboutWhySubTitle>
      <Value><![CDATA[We work for you since 1980 Industrial around the world.
]]></Value>
    </aboutWhySubTitle>
    <aboutWhyTitle>
      <Value><![CDATA[Why Choose us]]></Value>
    </aboutWhyTitle>
    <aboutWorkProcesss>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2f8d88bc-9b45-40db-b330-481cae56ed98",
      "key": "b57e96c4-d07c-465e-ba51-dc93c6160a58",
      "udi": null,
      "values": [
        {
          "alias": "aboutWorkProcessTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "\t\t\t\t\t\t\t\t\tPreparation Of Materials"
        },
        {
          "alias": "aboutWorkProcessDesc",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Moreover by automating repetitive tasks, you can free up your workforce."
        },
        {
          "alias": "aboutWorkProcessNo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "01"
        },
        {
          "alias": "aboutWorkProcessTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0625\u0639\u062F\u0627\u062F \u0627\u0644\u0645\u0648\u0627\u062F"
        },
        {
          "alias": "aboutWorkProcessDesc",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0646\u0642\u0648\u0645 \u0628\u062A\u062D\u0636\u064A\u0631 \u0627\u0644\u0645\u0648\u0627\u062F \u0627\u0644\u062E\u0627\u0645 \u0628\u062F\u0642\u0629 \u0639\u0627\u0644\u064A\u0629 \u0642\u0628\u0644 \u0628\u062F\u0621 \u0627\u0644\u0625\u0646\u062A\u0627\u062C. \u0645\u0646 \u062E\u0644\u0627\u0644 \u0623\u062A\u0645\u062A\u0629 \u0627\u0644\u0645\u0647\u0627\u0645 \u0627\u0644\u0645\u062A\u0643\u0631\u0631\u0629 \u0646\u0648\u0641\u0631 \u0627\u0644\u0648\u0642\u062A \u0648\u0646\u0636\u0645\u0646 \u062B\u0628\u0627\u062A \u0627\u0644\u062C\u0648\u062F\u0629 \u0641\u064A \u0643\u0644 \u0645\u0634\u0631\u0648\u0639."
        }
      ]
    },
    {
      "contentTypeKey": "2f8d88bc-9b45-40db-b330-481cae56ed98",
      "key": "894aabb7-1e7c-495f-b8fa-83eafdc5c447",
      "udi": null,
      "values": [
        {
          "alias": "aboutWorkProcessTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Component Sourcing and Procurement"
        },
        {
          "alias": "aboutWorkProcessNo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "02"
        },
        {
          "alias": "aboutWorkProcessDesc",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Clear processes reduce confusion and keep teams focused on goals."
        },
        {
          "alias": "aboutWorkProcessTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u062A\u0648\u0641\u064A\u0631 \u0648\u062A\u062C\u0647\u064A\u0632 \u0627\u0644\u0645\u0643\u0648\u0646\u0627\u062A"
        },
        {
          "alias": "aboutWorkProcessDesc",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0628\u0641\u0636\u0644 \u0634\u0628\u0643\u0629 \u062A\u0648\u0631\u064A\u062F \u0645\u0648\u062B\u0648\u0642\u0629 \u0648\u0625\u062C\u0631\u0627\u0621\u0627\u062A \u0648\u0627\u0636\u062D\u0629\u060C \u0646\u0648\u0641\u0631 \u0627\u0644\u0645\u0643\u0648\u0646\u0627\u062A \u0627\u0644\u0645\u0646\u0627\u0633\u0628\u0629 \u0641\u064A \u0627\u0644\u0648\u0642\u062A \u0627\u0644\u0645\u0646\u0627\u0633\u0628\u060C \u0645\u0645\u0627 \u064A\u0642\u0644\u0644 \u0627\u0644\u062A\u0623\u062E\u064A\u0631 \u0648\u064A\u062D\u0627\u0641\u0638 \u0639\u0644\u0649 \u0633\u064A\u0631 \u0639\u0645\u0644\u064A\u0629 \u0627\u0644\u0625\u0646\u062A\u0627\u062C."
        }
      ]
    },
    {
      "contentTypeKey": "2f8d88bc-9b45-40db-b330-481cae56ed98",
      "key": "b454fef0-c726-4e28-b8e8-3c8c38cc29da",
      "udi": null,
      "values": [
        {
          "alias": "aboutWorkProcessTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Testing and Quality Control"
        },
        {
          "alias": "aboutWorkProcessDesc",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Modern tools ensure reliability and meet industry standards by default."
        },
        {
          "alias": "aboutWorkProcessNo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "03"
        },
        {
          "alias": "aboutWorkProcessTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0627\u0644\u0627\u062E\u062A\u0628\u0627\u0631 \u0648\u0645\u0631\u0627\u0642\u0628\u0629 \u0627\u0644\u062C\u0648\u062F\u0629"
        },
        {
          "alias": "aboutWorkProcessDesc",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u062A\u0645\u0631 \u0643\u0644 \u0642\u0637\u0639\u0629 \u0628\u0639\u0645\u0644\u064A\u0627\u062A \u0627\u062E\u062A\u0628\u0627\u0631 \u062F\u0642\u064A\u0642\u0629. \u0623\u062F\u0648\u0627\u062A\u0646\u0627 \u0627\u0644\u062D\u062F\u064A\u062B\u0629 \u062A\u0636\u0645\u0646 \u0627\u0644\u0645\u0648\u062B\u0648\u0642\u064A\u0629\u060C \u0627\u0644\u062F\u0642\u0629\u060C \u0648\u0627\u0644\u0627\u0644\u062A\u0632\u0627\u0645 \u0628\u0645\u0639\u0627\u064A\u064A\u0631 \u0627\u0644\u0635\u0646\u0627\u0639\u0629."
        }
      ]
    },
    {
      "contentTypeKey": "2f8d88bc-9b45-40db-b330-481cae56ed98",
      "key": "7d98d36a-d374-46f0-987c-cddaa9a44e4b",
      "udi": null,
      "values": [
        {
          "alias": "aboutWorkProcessTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Final Assembly and Integration"
        },
        {
          "alias": "aboutWorkProcessDesc",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Proven workflows ensure seamless completion and product readiness."
        },
        {
          "alias": "aboutWorkProcessNo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "04"
        },
        {
          "alias": "aboutWorkProcessTitle",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0627\u0644\u062A\u062C\u0645\u064A\u0639 \u0627\u0644\u0646\u0647\u0627\u0626\u064A \u0648\u0627\u0644\u062A\u0643\u0627\u0645\u0644"
        },
        {
          "alias": "aboutWorkProcessDesc",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0646\u0642\u0648\u0645 \u0628\u062F\u0645\u062C \u0648\u062A\u062C\u0645\u064A\u0639 \u062C\u0645\u064A\u0639 \u0627\u0644\u0645\u0643\u0648\u0646\u0627\u062A \u0641\u064A \u0639\u0645\u0644\u064A\u0629 \u0633\u0644\u0633\u0629. \u0623\u0646\u0638\u0645\u062A\u0646\u0627 \u0627\u0644\u0645\u062B\u0628\u062A\u0629 \u062A\u0636\u0645\u0646 \u0627\u0643\u062A\u0645\u0627\u0644 \u0627\u0644\u0645\u0646\u062A\u062C \u0648\u062C\u0627\u0647\u0632\u064A\u062A\u0647 \u0627\u0644\u0643\u0627\u0645\u0644\u0629 \u0644\u0644\u062A\u0633\u0644\u064A\u0645."
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b57e96c4-d07c-465e-ba51-dc93c6160a58",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "894aabb7-1e7c-495f-b8fa-83eafdc5c447",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "b454fef0-c726-4e28-b8e8-3c8c38cc29da",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "7d98d36a-d374-46f0-987c-cddaa9a44e4b",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "b57e96c4-d07c-465e-ba51-dc93c6160a58",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "894aabb7-1e7c-495f-b8fa-83eafdc5c447",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "b454fef0-c726-4e28-b8e8-3c8c38cc29da",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "7d98d36a-d374-46f0-987c-cddaa9a44e4b",
      "culture": "ar",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b57e96c4-d07c-465e-ba51-dc93c6160a58",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "894aabb7-1e7c-495f-b8fa-83eafdc5c447",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b454fef0-c726-4e28-b8e8-3c8c38cc29da",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7d98d36a-d374-46f0-987c-cddaa9a44e4b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </aboutWorkProcesss>
    <Canonical>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </Canonical>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>