<?xml version="1.0" encoding="utf-8"?>
<Content Key="9bea9d13-a9ca-4299-9d1b-472b66976991" Alias="Robots.txt" Level="2">
  <Info>
    <Parent Key="b0911fda-a843-4ea0-9151-7c9b12ef7863">Home</Parent>
    <Path>/Home/Robotstxt</Path>
    <Trashed>false</Trashed>
    <ContentType>textFile</ContentType>
    <CreateDate>2025-08-31T03:22:56</CreateDate>
    <NodeName Default="Robots.txt" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <Canonical>
      <Value><![CDATA[]]></Value>
    </Canonical>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <fileContent>
      <Value><![CDATA[User-agent: *
Disallow:

Sitemap: https://www.website.com/sitemap.xml
Sitemap: https://www.website.com/en/sitemap.xml]]></Value>
    </fileContent>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>