<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0911fda-a843-4ea0-9151-7c9b12ef7863" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-08-31T03:22:55</CreateDate>
    <NodeName Default="Home">
      <Name Culture="ar">Home Page</Name>
      <Name Culture="en">Home Page</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="fd7ee32d-4e41-4f1c-baf9-7a6fe7bda5d6">homePage</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </Canonical>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <footerAddress>
      <Value><![CDATA[3 Abou Dawoud, El-Zahery, Nasr City, Cairo Governorate]]></Value>
    </footerAddress>
    <footerEmail>
      <Value><![CDATA[gomaa38@gmail.com]]></Value>
    </footerEmail>
    <footerNumber>
      <Value><![CDATA[01114428882]]></Value>
    </footerNumber>
    <footerTitle>
      <Value><![CDATA[Pioneering a New Era of Steel working Excellence]]></Value>
    </footerTitle>
    <footerTitle1>
      <Value><![CDATA[Information]]></Value>
    </footerTitle1>
    <footerTitle2>
      <Value><![CDATA[Our Servcices]]></Value>
    </footerTitle2>
    <footerTitle3>
      <Value><![CDATA[Our Portfolio]]></Value>
    </footerTitle3>
    <footerTitle4>
      <Value><![CDATA[Blogs]]></Value>
    </footerTitle4>
    <headerInfoText1>
      <Value><![CDATA[Need to talk]]></Value>
    </headerInfoText1>
    <headerInfoText2>
      <Value><![CDATA[Location]]></Value>
    </headerInfoText2>
    <headerInfoText3>
      <Value><![CDATA[Email Address]]></Value>
    </headerInfoText3>
    <headerText>
      <Value><![CDATA[ We are creative and ready for challenges!]]></Value>
    </headerText>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <homeBlogSubTitle>
      <Value><![CDATA[Articles & blog posts with
useful information]]></Value>
    </homeBlogSubTitle>
    <homeBlogTitle>
      <Value><![CDATA[Fresh News]]></Value>
    </homeBlogTitle>
    <homeClintText1>
      <Value><![CDATA[230]]></Value>
    </homeClintText1>
    <homeClintText2>
      <Value><![CDATA[Trusted customers around the world]]></Value>
    </homeClintText2>
    <homeClintTitle>
      <Value><![CDATA[Welcome to our site]]></Value>
    </homeClintTitle>
    <homeFaqDesc>
      <Value><![CDATA[Our customer service team will be happy to assist you — feel free to get in touch anytime.]]></Value>
    </homeFaqDesc>
    <homeFaqs>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d637e223-d280-4107-a7e5-ee157870884a",
      "key": "ae6cd69a-28b5-48fc-96f1-07dd8da3fd88",
      "udi": null,
      "values": [
        {
          "alias": "aboutFaqTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "01. How do you ensure product quality?"
        },
        {
          "alias": "aboutFaqAnswer",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "We maintain strict quality control at every stage of the process, carefully sourcing raw materials, components through to thorough final inspection.\n"
        }
      ]
    },
    {
      "contentTypeKey": "d637e223-d280-4107-a7e5-ee157870884a",
      "key": "8eedd20a-f131-47b7-8414-fe1351ff3b49",
      "udi": null,
      "values": [
        {
          "alias": "aboutFaqTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "02. Do you offer customized solutions?"
        },
        {
          "alias": "aboutFaqAnswer",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "We maintain strict quality control at every stage of the process, carefully sourcing raw materials, components through to thorough final inspection.\n"
        }
      ]
    },
    {
      "contentTypeKey": "d637e223-d280-4107-a7e5-ee157870884a",
      "key": "77b22b3c-3749-4150-bd87-729afe90f281",
      "udi": null,
      "values": [
        {
          "alias": "aboutFaqTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "03. What sustainability practices do you follow?"
        },
        {
          "alias": "aboutFaqAnswer",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "We maintain strict quality control at every stage of the process, carefully sourcing raw materials, components through to thorough final inspection.\n"
        }
      ]
    },
    {
      "contentTypeKey": "d637e223-d280-4107-a7e5-ee157870884a",
      "key": "65d5a97d-8222-4705-9fcb-09dd66ae6d60",
      "udi": null,
      "values": [
        {
          "alias": "aboutFaqTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "04. How do you handle safety in the workplace?"
        },
        {
          "alias": "aboutFaqAnswer",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "We maintain strict quality control at every stage of the process, carefully sourcing raw materials, components through to thorough final inspection.\n"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ae6cd69a-28b5-48fc-96f1-07dd8da3fd88",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "8eedd20a-f131-47b7-8414-fe1351ff3b49",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "77b22b3c-3749-4150-bd87-729afe90f281",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "65d5a97d-8222-4705-9fcb-09dd66ae6d60",
      "culture": "en-US",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ae6cd69a-28b5-48fc-96f1-07dd8da3fd88",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8eedd20a-f131-47b7-8414-fe1351ff3b49",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "77b22b3c-3749-4150-bd87-729afe90f281",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "65d5a97d-8222-4705-9fcb-09dd66ae6d60",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </homeFaqs>
    <homeFaqSubTitle>
      <Value><![CDATA[Didn’t find the answer you’re looking for?]]></Value>
    </homeFaqSubTitle>
    <homeFaqTitle>
      <Value><![CDATA[What would you like to know?]]></Value>
    </homeFaqTitle>
    <homeProcessSubTitle>
      <Value><![CDATA[We create personalized
industry solutions
]]></Value>
    </homeProcessSubTitle>
    <homeProcessTitle>
      <Value><![CDATA[Working Process]]></Value>
    </homeProcessTitle>
    <homeServicesSubTitle>
      <Value><![CDATA[We create personalized 
manufacturing plans]]></Value>
    </homeServicesSubTitle>
    <homeServicesTitle>
      <Value><![CDATA[Our Services]]></Value>
    </homeServicesTitle>
    <homeSliders>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "01b6740b-8ff2-4684-85bf-ae436a591181",
      "key": "90b05f69-04f3-4612-ae1f-2f18ee1d8967",
      "udi": null,
      "values": [
        {
          "alias": "homeSliderImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2f8b72f5-da84-4156-afd4-e8b9d016801d",
              "mediaKey": "f57b71d4-37fd-40bd-99aa-be60e5ba5526",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "homeSliderTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Forging the Future"
        },
        {
          "alias": "homeSliderSubTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Manufacturing Your Vision"
        },
        {
          "alias": "homeSliderDesc",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Whether it\u2019s small-scale custom work or large-scale production we build with purpose, power \u0026 precision."
        },
        {
          "alias": "homeSliderButtonTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Discover More"
        },
        {
          "alias": "homeSliderButtonLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://localhost:44389/services/"
        }
      ]
    },
    {
      "contentTypeKey": "01b6740b-8ff2-4684-85bf-ae436a591181",
      "key": "9293a102-ab42-4140-892d-69c6829b0411",
      "udi": null,
      "values": [
        {
          "alias": "homeSliderImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b06c1cb3-b4d8-4d6c-a160-bbf0f90ec251",
              "mediaKey": "61683529-4560-43f7-9a80-94f7a04c8960",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "homeSliderTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Forging the Future"
        },
        {
          "alias": "homeSliderSubTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Manufacturing Your Vision"
        },
        {
          "alias": "homeSliderDesc",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Whether it\u2019s small-scale custom work or large-scale production we build with purpose, power \u0026 precision."
        },
        {
          "alias": "homeSliderButtonTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Discover More"
        },
        {
          "alias": "homeSliderButtonLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://localhost:44389/services/"
        }
      ]
    },
    {
      "contentTypeKey": "01b6740b-8ff2-4684-85bf-ae436a591181",
      "key": "2af42437-7ff0-4d12-b5c4-ac589b16c64a",
      "udi": null,
      "values": [
        {
          "alias": "homeSliderImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "261b9eb7-4822-46b3-951d-50c531574c2f",
              "mediaKey": "bd85e58b-5993-44a4-ae4b-c8d23b04d72a",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "homeSliderTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Forging the Future"
        },
        {
          "alias": "homeSliderSubTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Manufacturing Your Vision"
        },
        {
          "alias": "homeSliderDesc",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Whether it\u2019s small-scale custom work or large-scale production we build with purpose, power \u0026 precision."
        },
        {
          "alias": "homeSliderButtonTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Discover More"
        },
        {
          "alias": "homeSliderButtonLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://localhost:44389/services/"
        }
      ]
    },
    {
      "contentTypeKey": "01b6740b-8ff2-4684-85bf-ae436a591181",
      "key": "c8068ffd-25b1-4fb9-886b-f89493995dfc",
      "udi": null,
      "values": [
        {
          "alias": "homeSliderImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cb167d23-8afd-4556-9fd8-c78fae89b99a",
              "mediaKey": "88ef94e8-7a8e-4bf9-b5d9-4d92f815ebf0",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "homeSliderTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Forging the Future"
        },
        {
          "alias": "homeSliderSubTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Manufacturing Your Vision"
        },
        {
          "alias": "homeSliderDesc",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Whether it\u2019s small-scale custom work or large-scale production we build with purpose, power \u0026 precision."
        },
        {
          "alias": "homeSliderButtonTitle",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Discover More"
        },
        {
          "alias": "homeSliderButtonLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://localhost:44389/services/"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "90b05f69-04f3-4612-ae1f-2f18ee1d8967",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "9293a102-ab42-4140-892d-69c6829b0411",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "2af42437-7ff0-4d12-b5c4-ac589b16c64a",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "c8068ffd-25b1-4fb9-886b-f89493995dfc",
      "culture": "en-US",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "90b05f69-04f3-4612-ae1f-2f18ee1d8967",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9293a102-ab42-4140-892d-69c6829b0411",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "2af42437-7ff0-4d12-b5c4-ac589b16c64a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c8068ffd-25b1-4fb9-886b-f89493995dfc",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </homeSliders>
    <homeTestimonialTitle>
      <Value><![CDATA[our Testimonials]]></Value>
    </homeTestimonialTitle>
    <homeVideoImage>
      <Value><![CDATA[]]></Value>
    </homeVideoImage>
    <homeVideoLink>
      <Value><![CDATA[https://www.youtube.com/watch?v=x36EQP2og-k]]></Value>
    </homeVideoLink>
    <homeWhyDesc>
      <Value><![CDATA[Induyst a full-service manufacturing company with 15 years of experience serving industries such as automotive..
]]></Value>
    </homeWhyDesc>
    <homeWhyPoints>
      <Value><![CDATA[24/7 Support at Any Time
Cost-Effectiveness
Guarantees to Count On
Eco-Friendly Material]]></Value>
    </homeWhyPoints>
    <homeWhySubTitle>
      <Value><![CDATA[We are leader In Industrial market since 2024
]]></Value>
    </homeWhySubTitle>
    <homeWhyText1>
      <Value><![CDATA[We are certified company]]></Value>
    </homeWhyText1>
    <homeWhyText2>
      <Value><![CDATA[We are bring quality services]]></Value>
    </homeWhyText2>
    <homeWhyText3>
      <Value><![CDATA[Engineering project study & solution]]></Value>
    </homeWhyText3>
    <homeWhyTitle>
      <Value><![CDATA[Why Choose us]]></Value>
    </homeWhyTitle>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[
  "weekly"
]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.8]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>