<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1e1a95a-957d-48fb-a8bc-28725eaf5b9b" Alias="bg" Level="2">
  <Info>
    <Parent Key="e7f873be-90f2-4958-992c-592bb9d61923">images</Parent>
    <Path>/images/bg</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T21:50:50</CreateDate>
    <NodeName Default="bg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>