<?xml version="1.0" encoding="utf-8"?>
<Media Key="35f21276-3e8f-46be-bdb1-ea786337fc0f" Alias="blog-05.jpg" Level="3">
  <Info>
    <Parent Key="f2a2043d-c42b-4e38-957f-383a61e920cf">blog</Parent>
    <Path>/images/blog/blog05jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:50:51</CreateDate>
    <NodeName Default="blog-05.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5hmlja5g/blog-05.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>