<?xml version="1.0" encoding="utf-8"?>
<Media Key="094c6bc0-0cf7-4764-86b7-e9c41aa563c3" Alias="chart-bg.png" Level="4">
  <Info>
    <Parent Key="fa29a6d7-0d57-4708-b4f5-cfd728c4dba9">bg</Parent>
    <Path>/images/homepage2/bg/chartBgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:55:07</CreateDate>
    <NodeName Default="chart-bg.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j4qbvp24/chart-bg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>