<?xml version="1.0" encoding="utf-8"?>
<Media Key="7daaba27-6a6a-49bb-870a-45eab13348ca" Alias="client-01-hover.png" Level="3">
  <Info>
    <Parent Key="3fee3f8a-ecd6-43c6-9444-32e59e0f990b">client</Parent>
    <Path>/images/client/client01Hoverpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:51:34</CreateDate>
    <NodeName Default="client-01-hover.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vbyozsyd/client-01-hover.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>