<?xml version="1.0" encoding="utf-8"?>
<Media Key="9dea99ac-e237-41a4-87e2-60df04f17192" Alias="client-03-hover.png" Level="3">
  <Info>
    <Parent Key="3fee3f8a-ecd6-43c6-9444-32e59e0f990b">client</Parent>
    <Path>/images/client/client03Hoverpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:51:34</CreateDate>
    <NodeName Default="client-03-hover.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/enjlyk04/client-03-hover.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>