<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfc742e0-9720-42a4-a712-2166e5e82465" Alias="portfolio-07.jpg" Level="3">
  <Info>
    <Parent Key="e7875104-53af-4bd4-81b7-e9d5cab75427">portfolio</Parent>
    <Path>/images/portfolio/portfolio07jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:33</CreateDate>
    <NodeName Default="portfolio-07.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/n4eic0kj/portfolio-07.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>