<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d437318-c888-422c-a838-35c22a788855" Alias="portfolio-detail-01.jpg" Level="3">
  <Info>
    <Parent Key="e7875104-53af-4bd4-81b7-e9d5cab75427">portfolio</Parent>
    <Path>/images/portfolio/portfolioDetail01jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:53:33</CreateDate>
    <NodeName Default="portfolio-detail-01.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/s42blg5b/portfolio-detail-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>