<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae94f569-75eb-42a0-ab76-d44729de476f" Alias="testimonial-img-03.jpg" Level="4">
  <Info>
    <Parent Key="5acfd884-9831-4bd0-b2aa-e3474582cb6e">testimonial</Parent>
    <Path>/images/homepage1/testimonial/testimonialImg03jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T21:52:23</CreateDate>
    <NodeName Default="testimonial-img-03.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2y5negec/testimonial-img-03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>