<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4359388-2a57-45bc-afe1-b74760571336" Alias="Home Page - HomeFaqs - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - HomeFaqs - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d637e223-d280-4107-a7e5-ee157870884a",
      "label": "{=aboutFaqTitle}"
    }
  ]
}]]></Config>
</DataType>