<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d07586a0-c909-4a00-92f2-3b7568978ec0" Alias="SEO - Facebook Locale - Dropdown" Level="2">
  <Info>
    <Name>SEO - Facebook Locale - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "en_GB",
    "en_US",
    "ar_AR"
  ],
  "multiple": false
}]]></Config>
</DataType>